<%= render 'common/page_title', titulo: 'Autorização e permissões', back_url: 'index' %>

<h3>Introdução</h3>
<br/>
<p>Este site foi concebido para cobrir grande parte da demanda de gestão de uma IC além de servir como site institucional
  e de interação com alunos. Neste sentido, é muito importante haver um esquema de autorização e permissões
que cubra todas as necessidade tendo em mente a segurança e sigilo dos dados nele armazenados.</p>



<br/>
<h3>Quem pode fazer o que?</h3>
<br/>

<table class="table">
  <thead>
    <tr>
      <th>Permissão</th>
      <th class="text-center">Visitante</th>
      <th class="text-center">Participante (Aluno)</th>
      <th class="text-center">Docente</th>
      <th class="text-center">Voluntário</th>
      <th class="text-center">Administrador</th>
      <th class="text-center">Administrador de evento e atividade</th>
      <th class="text-center">Administrador de voluntário</th>
      <th class="text-center">Administrador de cadastro</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Visualizar páginas públicas com informações sobre cursos e atividades</td>
      <td class="text-center"><%= fa_icon('check', class: 'text-success') %></td>
      <td class="text-center"><%= fa_icon('check', class: 'text-success') %></td>
      <td class="text-center"><%= fa_icon('check', class: 'text-success') %></td>
      <td class="text-center"><%= fa_icon('check', class: 'text-success') %></td>
      <td class="text-center"><%= fa_icon('check', class: 'text-success') %></td>
      <td class="text-center"><%= fa_icon('check', class: 'text-success') %></td>
      <td class="text-center"><%= fa_icon('check', class: 'text-success') %></td>
      <td class="text-center"><%= fa_icon('check', class: 'text-success') %></td>
    </tr>
    <tr>
      <td>Acessar arquivos de um evento disponibilizados aos participantes</td>
      <td class="text-center"><%= fa_icon('ban', class: 'text-danger') %></td>
      <td class="text-center"><%= fa_icon('check', class: 'text-success') %> <br/><small>(evento que participou)</small></td>
      <td class="text-center"><%= fa_icon('check', class: 'text-success') %></td>
      <td class="text-center"><%= fa_icon('check', class: 'text-success') %></td>
      <td class="text-center"><%= fa_icon('check', class: 'text-success') %></td>
      <td class="text-center"><%= fa_icon('ban', class: 'text-danger') %></td>
      <td class="text-center"><%= fa_icon('ban', class: 'text-danger') %></td>
      <td class="text-center"><%= fa_icon('ban', class: 'text-danger') %></td>
    </tr>
    <tr>
      <td>Acessar arquivos de um evento disponibilizados aos docentes</td>
      <td class="text-center"><%= fa_icon('ban', class: 'text-danger') %></td>
      <td class="text-center"><%= fa_icon('ban', class: 'text-danger') %></td>
      <td class="text-center"><%= fa_icon('check', class: 'text-success') %></td>
      <td class="text-center"><%= fa_icon('ban', class: 'text-danger') %></td>
      <td class="text-center"><%= fa_icon('check', class: 'text-success') %></td>
      <td class="text-center"><%= fa_icon('ban', class: 'text-danger') %></td>
      <td class="text-center"><%= fa_icon('ban', class: 'text-danger') %></td>
      <td class="text-center"><%= fa_icon('ban', class: 'text-danger') %></td>
    </tr>
    <tr>
      <td>Visualizar pessoas</td>
      <td class="text-center"><%= fa_icon('ban', class: 'text-danger') %></td>
      <td class="text-center"><%= fa_icon('ban', class: 'text-danger') %></td>
      <td class="text-center"><%= fa_icon('ban', class: 'text-danger') %></td>
      <td class="text-center"><%= fa_icon('check', class: 'text-success') %></td>
      <td class="text-center"><%= fa_icon('check', class: 'text-success') %></td>
      <td class="text-center"><%= fa_icon('ban', class: 'text-danger') %></td>
      <td class="text-center"><%= fa_icon('ban', class: 'text-danger') %></td>
      <td class="text-center"><%= fa_icon('ban', class: 'text-danger') %></td>
    </tr>
    <tr>
      <td>Criar/editar/deletar pessoas</td>
      <td class="text-center"><%= fa_icon('ban', class: 'text-danger') %></td>
      <td class="text-center"><%= fa_icon('ban', class: 'text-danger') %></td>
      <td class="text-center"><%= fa_icon('ban', class: 'text-danger') %></td>
      <td class="text-center"><%= fa_icon('ban', class: 'text-danger') %></td>
      <td class="text-center"><%= fa_icon('check', class: 'text-success') %></td>
      <td class="text-center"><%= fa_icon('ban', class: 'text-danger') %></td>
      <td class="text-center"><%= fa_icon('ban', class: 'text-danger') %></td>
      <td class="text-center"><%= fa_icon('check', class: 'text-success') %></td>
    </tr>
    <tr>
      <td>Visualizar voluntários</td>
      <td class="text-center"><%= fa_icon('ban', class: 'text-danger') %></td>
      <td class="text-center"><%= fa_icon('ban', class: 'text-danger') %></td>
      <td class="text-center"><%= fa_icon('ban', class: 'text-danger') %></td>
      <td class="text-center"><%= fa_icon('check', class: 'text-success') %></td>
      <td class="text-center"><%= fa_icon('check', class: 'text-success') %></td>
      <td class="text-center"><%= fa_icon('ban', class: 'text-danger') %></td>
      <td class="text-center"><%= fa_icon('check', class: 'text-success') %></td>
      <td class="text-center"><%= fa_icon('ban', class: 'text-danger') %></td>
    </tr>
    <tr>
      <td>Criar/editar/deletar voluntários</td>
      <td class="text-center"><%= fa_icon('ban', class: 'text-danger') %></td>
      <td class="text-center"><%= fa_icon('ban', class: 'text-danger') %></td>
      <td class="text-center"><%= fa_icon('ban', class: 'text-danger') %></td>
      <td class="text-center"><%= fa_icon('ban', class: 'text-danger') %></td>
      <td class="text-center"><%= fa_icon('check', class: 'text-success') %></td>
      <td class="text-center"><%= fa_icon('ban', class: 'text-danger') %></td>
      <td class="text-center"><%= fa_icon('check', class: 'text-success') %></td>
      <td class="text-center"><%= fa_icon('ban', class: 'text-danger') %></td>
    </tr>
    <tr>
      <td>Visualizar participantes de um evento</td>
      <td class="text-center"><%= fa_icon('ban', class: 'text-danger') %></td>
      <td class="text-center"><%= fa_icon('ban', class: 'text-danger') %></td>
      <td class="text-center"><%= fa_icon('check', class: 'text-success') %> </td>
      <td class="text-center"><%= fa_icon('check', class: 'text-success') %></td>
      <td class="text-center"><%= fa_icon('check', class: 'text-success') %></td>
      <td class="text-center"><%= fa_icon('check', class: 'text-success') %></td>
      <td class="text-center"><%= fa_icon('ban', class: 'text-danger') %></td>
      <td class="text-center"><%= fa_icon('ban', class: 'text-danger') %></td>
    </tr>
    <tr>
      <td>Criar/editar/deletar um evento</td>
      <td class="text-center"><%= fa_icon('ban', class: 'text-danger') %></td>
      <td class="text-center"><%= fa_icon('ban', class: 'text-danger') %></td>
      <td class="text-center"><%= fa_icon('ban', class: 'text-danger') %></td>
      <td class="text-center"><%= fa_icon('ban', class: 'text-danger') %></td>
      <td class="text-center"><%= fa_icon('check', class: 'text-success') %></td>
      <td class="text-center"><%= fa_icon('check', class: 'text-success') %></td>
      <td class="text-center"><%= fa_icon('ban', class: 'text-danger') %></td>
      <td class="text-center"><%= fa_icon('ban', class: 'text-danger') %></td>
    </tr>
    <tr>
      <td>Editar informações de um evento incluindo adicionar/remover participantes</td>
      <td class="text-center"><%= fa_icon('ban', class: 'text-danger') %></td>
      <td class="text-center"><%= fa_icon('ban', class: 'text-danger') %></td>
      <td class="text-center"><%= fa_icon('check', class: 'text-success') %> <br/><small>(evento em que é docente)</small></td>
      <td class="text-center"><%= fa_icon('ban', class: 'text-danger') %></td>
      <td class="text-center"><%= fa_icon('check', class: 'text-success') %></td>
      <td class="text-center"><%= fa_icon('check', class: 'text-success') %></td>
      <td class="text-center"><%= fa_icon('ban', class: 'text-danger') %></td>
      <td class="text-center"><%= fa_icon('ban', class: 'text-danger') %></td>
    </tr>
    <tr>
      <td>Arquivar e desarquivar um evento</td>
      <td class="text-center"><%= fa_icon('ban', class: 'text-danger') %></td>
      <td class="text-center"><%= fa_icon('ban', class: 'text-danger') %></td>
      <td class="text-center"><%= fa_icon('ban', class: 'text-danger') %></td>
      <td class="text-center"><%= fa_icon('ban', class: 'text-danger') %></td>
      <td class="text-center"><%= fa_icon('check', class: 'text-success') %></td>
      <td class="text-center"><%= fa_icon('check', class: 'text-success') %></td>
      <td class="text-center"><%= fa_icon('ban', class: 'text-danger') %></td>
      <td class="text-center"><%= fa_icon('ban', class: 'text-danger') %></td>
    </tr>
    <tr>
      <td>Criar/editar/deletar atividades</td>
      <td class="text-center"><%= fa_icon('ban', class: 'text-danger') %></td>
      <td class="text-center"><%= fa_icon('ban', class: 'text-danger') %></td>
      <td class="text-center"><%= fa_icon('ban', class: 'text-danger') %> <br/></td>
      <td class="text-center"><%= fa_icon('ban', class: 'text-danger') %></td>
      <td class="text-center"><%= fa_icon('check', class: 'text-success') %></td>
      <td class="text-center"><%= fa_icon('check', class: 'text-success') %></td>
      <td class="text-center"><%= fa_icon('ban', class: 'text-danger') %></td>
      <td class="text-center"><%= fa_icon('ban', class: 'text-danger') %></td>
    </tr>
    <tr>
      <td>Editar as permissões de usuários do site</td>
      <td class="text-center"><%= fa_icon('ban', class: 'text-danger') %></td>
      <td class="text-center"><%= fa_icon('ban', class: 'text-danger') %></td>
      <td class="text-center"><%= fa_icon('ban', class: 'text-danger') %></td>
      <td class="text-center"><%= fa_icon('ban', class: 'text-danger') %></td>
      <td class="text-center"><%= fa_icon('check', class: 'text-success') %></td>
      <td class="text-center"><%= fa_icon('ban', class: 'text-danger') %></td>
      <td class="text-center"><%= fa_icon('ban', class: 'text-danger') %></td>
      <td class="text-center"><%= fa_icon('ban', class: 'text-danger') %></td>
    </tr>
  </tbody>
</table>


<br/>

<h3>Permissões globais</h3>
<p>
  Permissões globais se aplicam a todo conjunto de itens de uma determinada entidade no site.
  Por exemplo, se você tem a permissão global de "administrar eventos e atividades"
  pode editar todos os eventos e atividades do site, não apenas os eventos em que foi dado a você permissão de edição.
  Atualmente existem 5 permissões globais:
<ul>
  <li><strong>Administrador</strong>. Tem permissão máxima, acesso a todo o sistema.
  <li><strong>Administrador de Evento e Atividade</strong>. Pode criar e editar qualquer evento.
  <li><strong>Administrador de Voluntário</strong>. Pode gerenciar toda a lista de cadastro de voluntários.
  <li><strong>Administrador de Cadastro</strong>. Pode gerenciar toda a lista de cadastro de pessoas.
  <li><strong>Docente</strong>. Acesso a todos arquivos docentes de eventos e editar eventos que participou.
  <li><strong>Voluntário</strong>. Visualiza cadastro de pessoas, acessa material do aluno de eventos etc.
</ul>

<em>Para maiores detalhes do que cada permissão oferece, checar a tabela acima ("Quem pode fazer o que?")</em>
<br/>
<br/>

<h3>Áreas de Voluntariado e permissões globais</h3>
<br/>
<p>
Abaixo estão listadas as permissões globais padrão de acordo com a área de voluntariado. Isso não exclui a possibilidades
de cada voluntário individualmente ter um conjunto de permissões globais próprias.
</p>

<table class="table">
  <thead>
  <tr>
    <th>Área de Voluntariado</th>
    <th class="text-center">Administrar site</th>
    <th class="text-center">Administrar eventos e atividades</th>
    <th class="text-center">Administrar voluntários</th>
    <th class="text-center">Administrar cadastro</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td>Banco de Dados</td>
    <td class="text-center"><%= fa_icon('check', class: 'text-success') %></td>
    <td class="text-center"><%= fa_icon('check', class: 'text-success') %></td>
    <td class="text-center"><%= fa_icon('check', class: 'text-success') %></td>
    <td class="text-center"><%= fa_icon('check', class: 'text-success') %></td>
  </tr>
  <tr>
    <td>Comunicação</td>
    <td class="text-center"><%= fa_icon('ban', class: 'text-danger') %></td>
    <td class="text-center"><%= fa_icon('ban', class: 'text-danger') %></td>
    <td class="text-center"><%= fa_icon('ban', class: 'text-danger') %></td>
    <td class="text-center"><%= fa_icon('ban', class: 'text-danger') %></td>
  </tr>
  <tr>
    <td>Coordenação Geral</td>
    <td class="text-center"><%= fa_icon('check', class: 'text-success') %></td>
    <td class="text-center"><%= fa_icon('check', class: 'text-success') %></td>
    <td class="text-center"><%= fa_icon('check', class: 'text-success') %></td>
    <td class="text-center"><%= fa_icon('check', class: 'text-success') %></td>
  </tr>
  <tr>
    <td>Eventos</td>
    <td class="text-center"><%= fa_icon('ban', class: 'text-danger') %></td>
    <td class="text-center"><%= fa_icon('check', class: 'text-success') %></td>
    <td class="text-center"><%= fa_icon('ban', class: 'text-danger') %></td>
    <td class="text-center"><%= fa_icon('check', class: 'text-success') %></td>
  </tr>
  <tr>
    <td>Facilitação Interdimensional de Pesquisas</td>
    <td class="text-center"><%= fa_icon('ban', class: 'text-danger') %></td>
    <td class="text-center"><%= fa_icon('ban', class: 'text-danger') %></td>
    <td class="text-center"><%= fa_icon('ban', class: 'text-danger') %></td>
    <td class="text-center"><%= fa_icon('ban', class: 'text-danger') %></td>
  </tr>
  <tr>
    <td>Parapercepciografia</td>
    <td class="text-center"><%= fa_icon('ban', class: 'text-danger') %></td>
    <td class="text-center"><%= fa_icon('ban', class: 'text-danger') %></td>
    <td class="text-center"><%= fa_icon('ban', class: 'text-danger') %></td>
    <td class="text-center"><%= fa_icon('ban', class: 'text-danger') %></td>
  </tr>
  <tr>
    <td>Parapedagogia</td>
    <td class="text-center"><%= fa_icon('ban', class: 'text-danger') %></td>
    <td class="text-center"><%= fa_icon('check', class: 'text-success') %></td>
    <td class="text-center"><%= fa_icon('ban', class: 'text-danger') %></td>
    <td class="text-center"><%= fa_icon('ban', class: 'text-danger') %></td>
  </tr>
  <tr>
    <td>Jurídico-Financeiro</td>
    <td class="text-center"><%= fa_icon('ban', class: 'text-danger') %></td>
    <td class="text-center"><%= fa_icon('check', class: 'text-success') %></td>
    <td class="text-center"><%= fa_icon('ban', class: 'text-danger') %></td>
    <td class="text-center"><%= fa_icon('ban', class: 'text-danger') %></td>
  </tr>
  <tr>
    <td>Voluntariado</td>
    <td class="text-center"><%= fa_icon('ban', class: 'text-danger') %></td>
    <td class="text-center"><%= fa_icon('ban', class: 'text-danger') %></td>
    <td class="text-center"><%= fa_icon('check', class: 'text-success') %></td>
    <td class="text-center"><%= fa_icon('check', class: 'text-success') %></td>
  </tr>
  </tbody>
</table>


<br/>
<h3>Afinal, que permissões tenho?</h3>

<p>Acesse <em>Editar conta</em> clicando em seu nome no topo superior direito e poderá ver a listagem de papéis
  globais que possui.</p>