<%= render 'common/page_title', titulo: 'Voluntários' %>

<% content_for :actions do %>
    <%= render 'common/btn_new', resource: Volunteer.new, btn_label: 'Novo voluntário' %>
<% end %>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Pessoa</th>
      <th>Data de admissão</th>
      <th>Área de atuação</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @volunteers.each do |volunteer| %>
      <tr>
        <td><%= link_to volunteer.person, person_path(volunteer.person) %></td>
        <td><%= date_display volunteer.admission %></td>
        <td><%= volunteer.area_of_operation %></td>
        <td>
          <%= render 'common/btn_edit', resource: volunteer, size: 'btn-xs', btn_label: '' %>
          <%= render 'common/btn_delete', resource: volunteer, size: 'btn-xs', btn_label: '' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

