<%= render 'common/page_title', titulo: "E-mails dos participantes do evento <em>#{@event.name}</em>".html_safe %>


<h5>Equipe organizadora</h5>
<% @event.organizers.each do |participation| %>
    <% person = participation.person  %>
    <div>
      <div><%= person.name %> &lt;<%= person.email %>&gt;</div>
    </div>
<% end %>

<br>

<h5>Inscritos</h5>
<% @event.enrolls.each do |participation| %>
    <% person = participation.person  %>
    <div>
      <div><%= person.name %> &lt;<%= person.email %>&gt;</div>
    </div>
<% end %>
