<%= render 'common/page_title', titulo: 'Inventariologia' %>

<p>
  Nesta página você pode gerar inventários (dados estatísticos) sobre os eventos realizados na <i>Reconscientia</i>.
  Para isso basta escolher o período de início e fim de interesse.
</p>

<br>

<h4>Qual período de inventário?</h4>

<%= bootstrap_form_tag url: '/inventoriology', layout: :horizontal, label_col: 'col-sm-2', control_col: 'col-sm-6' do |f| %>

    <%= f.date_select :start, label: 'Início' %>
    <%= f.date_select :end, label: 'Fim' %>
    <%= f.submit 'Gerar' %>

<% end %>
