<%= render 'common/page_title', titulo: "Inventariologia de #{@start.year}" %>


<h2>Eventos <small>(<%= @events.count %>)</small></h2>


<%= render 'common/event_listing', events: @events %>

<br/>
<h4>Perfil dos participantes</h4>
<div><em>Total de pessoas:</em> <%= @people.size %></div>
<div><em>Homens:</em> <%= @male_count %></div>
<div><em>Mulheres:</em> <%= @female_count %></div>
<div><em>Gênero não especificado:</em> <%= @gen_undef_count %></div>
<div><em>Ocupação (total: <%= @occupations.size %>):</em>
  <% @occupations.each do |o| %>
    <%= "#{o[0]} (#{o[1]})," %>
  <% end %>
</div>