
<h2>Faça o Login</h2>

<%= form_tag '/auth/identity/callback', class: 'form-horizontal' do |f| %>

    <div class="form-group">
      <%= label_tag :auth_key, 'E-mail', class: 'col-3 control-label' %><br>
      <div class="col-4">
        <%= text_field_tag :auth_key, '', class: 'form-control' %>
      </div>
    </div>

    <div class="form-group">
      <%= label_tag :password, 'Senha', class: 'col-3 control-label' %><br>
      <div class="col-4">
        <%= password_field_tag :password, '', class: 'form-control' %>
      </div>
    </div>

    <div class="form-group">
      <div class="offset-3 col-9">
        <%= submit_tag 'Entrar', class: 'btn btn-primary' %>
      </div>
    </div>

<% end %>

<h4>Ou crie uma <%= link_to 'nova conta', new_identity_path %></h4>
