<%= bootstrap_form_for @person, layout: :horizontal, label_col: 'col-sm-2', control_col: 'col-sm-7' do |f| %>

    <% if @person.errors[:base].present? %>
        <%= f.alert_message 'Favor corrigir o(s) erro(s) abaixo. ' + @person.errors[:base][0] %>
    <% else %>
        <%= f.alert_message 'Favor corrigir o(s) erro(s) abaixo.' %>
    <% end %>

    <%= f.hidden_field :original_updated_at %>

    <%= f.text_field :name, label: 'Nome' %>
    <%= f.email_field :email, label: 'E-mail', control_col: 'col-sm-3' %>
    <%= f.form_group do %>
        <%= f.check_box :marketing, label: 'Deseja receber divulgação', layout: :inline %>
    <% end %>
    <%= f.select :gender, Person::GENDERS, include_blank: true, label: 'Gênero', control_col: 'col-sm-3' %>
    <%= f.date_select :date_of_birth, label: 'Data de nascimento',
                      start_year: 1930, end_year: Date.today.year, include_blank: true, control_col: 'col-sm-3' %>
    <%= f.text_field :occupation, label: 'Ocupação', control_col: 'col-sm-3' %>
    <%= f.select :scholarity, Person::SCHOLARITIES,
                 include_blank: true, label: 'Escolaridade', control_col: 'col-sm-3' %>
    <%= f.select :nationality, Person::NATIONALITIES, selected: 'Brasileiro',
                 include_blank: true, label: 'Nacionalidade', control_col: 'col-sm-3' %>
    <%= f.text_field :cpf, label: 'CPF', control_col: 'col-sm-3', placeholder: '000.000.000-00' %>
    <%= f.text_field :rg, label: 'RG', control_col: 'col-sm-3', help: 'Número e orgão expeditor' %>

    <%= f.fields_for :phone_numbers do |phone_form| %>
        <%= render :partial => 'common/phone_number_fields', :locals => {:f => phone_form} %>
    <% end %>
    <%= link_to_add_fields '<span class="glyphicon glyphicon-phone-alt"></span> Adicionar telefone'.html_safe,
                           f, :phone_numbers, 'btn btn-default btn-xs' %>


    <%= f.fields_for :addresses do |address_form| %>
        <%= render :partial => 'common/address_fields', :locals => {:f => address_form} %>
    <% end %>

    <%= f.form_group do %>
        <%= f.submit 'Salvar' %>
        <%= link_to 'Cancelar', :back, class: 'btn btn-link' %>
    <% end %>

<% end %>