<%= bootstrap_form_for @person, layout: :horizontal, label_col: 'col-sm-2', control_col: 'col-sm-7' do |f| %>

    <% if @person.errors[:base].present? %>
        <%= f.alert_message 'Favor corrigir o(s) erro(s) abaixo. ' + @person.errors[:base][0] %>
    <% else %>
        <%= f.alert_message 'Favor corrigir o(s) erro(s) abaixo.' %>
    <% end %>

    <%= f.hidden_field :original_updated_at %>

    <%= f.text_field :name %>
    <%= f.email_field :email, control_col: 'col-sm-3' %>
    <%= f.form_group do %>
        <%= f.check_box :marketing, label: 'Receber divulgação',
                        checked: @person.persisted? ? @person.marketing : true,
                        layout: :inline %>
    <% end %>

    <% if @person.persisted? and @person.gender.blank? %>
        <%= f.select :gender, Person::GENDERS, include_blank: true, control_col: 'col-sm-3',
                     help: 'Favor especificar um gênero já que o sistema não conseguiu detectar automaticamente.' %>
    <% end %>

    <%= f.select :relationship, Person.relationships.keys.to_a.map { |w| [ I18n.t("relationship.#{w}"), w] },
                 include_blank: true, control_col: 'col-sm-3' %>

    <%= f.date_select :date_of_birth, start_year: 1930, end_year: Date.today.year, include_blank: true %>
    <%= f.text_field :occupation, control_col: 'col-sm-3' %>
    <%= f.select :scholarity, Person::SCHOLARITIES,
                 include_blank: true, control_col: 'col-sm-3' %>
    <%= f.select :nationality, Person::NATIONALITIES, selected: 'Brasileiro',
                 include_blank: true, label: 'Nacionalidade', control_col: 'col-sm-3' %>
    <%= f.text_field :cpf, control_col: 'col-sm-3', placeholder: '000.000.000-00' %>
    <%= f.text_field :rg, control_col: 'col-sm-3', help: 'Número e orgão expeditor' %>

    <%= f.fields_for :phone_numbers do |phone_form| %>
        <%= render :partial => 'common/phone_number_fields', :locals => {:f => phone_form} %>
    <% end %>
    <%= link_to_add_fields '<span class="glyphicon glyphicon-phone-alt"></span> Novo telefone'.html_safe,
                           f, :phone_numbers, 'btn btn-primary btn-xs' %>


    <%= f.fields_for :addresses do |address_form| %>
        <%= render :partial => 'common/address_fields', :locals => {:f => address_form} %>
    <% end %>

    <%= f.form_group do %>
        <%= f.submit 'Salvar' %>
        <%= link_to 'Voltar', session[:last_page], class: 'btn btn-link' %>
    <% end %>

<% end %>