
<%= render partial: 'common/page_title', locals: { titulo: 'Pessoas' } %>

<% content_for :actions do %>
    <%= render partial: 'common/btn_add', locals: { recurso: Person.new } %>
<% end %>


<%= form_tag '/people', method: :get do %>
    <div class="input-group">
      <%= text_field_tag 'query', nil, class: 'form-control',
                         placeholder: 'Procurar...',
                         value: @query %>
      <span class="input-group-btn">
          <button class="btn btn-default" type="submit" id="btn-search">
            <span class="glyphicon glyphicon-search"></span>
          </button>

          <%= link_to "<span class=\"glyphicon glyphicon-remove\"></span>".html_safe,
                    people_path, class: 'btn btn-default' %>
      </span>
    </div>
<% end %>
<br/>
<span class="text-muted"><%= page_entries_info @people %></span>

<table class="table table-striped">
  <tr>
    <th>Nome</th>
    <th>Email</th>
    <th>Telefones</th>
    <th>Ações</th>
  </tr>

  <% @people.each do |person| %>
      <tr>
        <td><%= link_to person.name, person_path(person, page: params[:page]) %></td>
        <td><%= person.email %></td>
        <td>
          <% phones = person.phone_numbers.map { |phone| "#{phone.number.phony_formatted}" } %>
          <%= phones.join(' | ') %>
        </td>
        <td><%= render partial: 'common/btn_edit', locals: { recurso: person,
                                                               size: 'btn-xs', btn_label: '' } %>
          <%= render partial: 'common/btn_delete', locals: { recurso: person,
                                                             size: 'btn-xs', btn_label: '' } %>
        </td>
      </tr>
  <% end %>
</table>
<%= paginate @people, entry_name: 'pessoas' %>