
<%= render 'common/page_title', titulo: 'Pessoas' %>

<% content_for :actions do %>
    <%= render 'common/btn_new', resource: Person.new, btn_label: 'Nova pessoa' %>
<% end %>

<% if @have_needs_review %>
    <div class="alert alert-warning">
      Existem pessoas que foram marcadas como necessitando de <strong>revisão cadastral</strong>.
      <%= link_to 'Veja quem são', people_path(params.merge(filter: 'needs_review')) %>
    </div>
<% end %>

<!-- Text field de busca -->

<%= form_tag '/people', method: :get do %>
    <div class="input-group">
      <%= text_field_tag 'query', nil, class: 'form-control',
                         placeholder: 'Procurar...',
                         value: @query %>
      <span class="input-group-btn">
          <button class="btn btn-default" type="submit" id="btn-search">
            <i class="fa fa-search"></i>
          </button>

          <%= link_to "<i class=\"fa fa-times\"></i>".html_safe,
                    people_path, class: 'btn btn-default' %>
      </span>
    </div>
<% end %>
<br/>


<div>

  <!-- Ordenar por... -->

  <span class="text-muted">Ordenar por: </span>
  <% state = params[:order] == 'name' ? 'active' : '' %>
  <%= link_to 'Nome', people_path(params.merge(order: 'name')), class: "btn btn-default btn-xs #{state}" %>
  <% state = params[:order] == 'created_at' ? 'active' : '' %>
  <%= link_to 'Data de cadastramento', people_path(params.merge(order: 'created_at')), class: "btn btn-default btn-xs #{state}" %>

  &nbsp;|&nbsp;


  <!-- Filtrar por... -->

  <span class="text-muted">Filtrar por: </span>
  <% if @have_needs_review  %>
    <% state = params[:filter] == 'needs_review' ? 'active' : ''  %>
    <%= link_to 'Necessita revisão', people_path(params.merge(filter: 'needs_review')), class: "btn btn-default btn-xs #{state}" %>
  <% end %>

  <% state = params[:filter] == 'have_phone_number' ? 'active' : ''  %>
  <%= link_to 'Com telefone', people_path(params.merge(filter: 'have_phone_number')), class: "btn btn-default btn-xs #{state}" %>


  <!-- Limpar tudo -->

  <% if params.include?(:filter) or params.include?(:order)  %>
    &nbsp;|&nbsp;
    <%= link_to 'Remover filtros e ordenamento', people_path %>
  <% end %>

</div>
<br>

<!-- Listagem de pessoas -->

<div class="text-muted"><%= page_entries_info @people %></div>

<table class="table table-striped">
  <tr>
    <th>Nome</th>
    <th>Email</th>
    <th>Telefones</th>
    <th></th>
  </tr>

  <% @people.each do |person| %>
      <tr>
        <td><%= link_to person.name, person_path(person, params) %></td>
        <td><%= person.email %></td>
        <td>
          <% phones = person.phone_numbers.map { |phone| "#{phone.number.phony_formatted}" } %>
          <%= phones.join(' | ') %>
        </td>
        <td><%= render 'common/btn_edit', resource: person, size: 'btn-xs', btn_label: '' %>
            <%= render 'common/btn_delete', resource: person, size: 'btn-xs', btn_label: '' %>
        </td>
      </tr>
  <% end %>
</table>
<%= paginate @people, entry_name: 'pessoas' %>