
<%= render partial: 'common/titulo_pagina', locals: { titulo: "Pessoa '#{@person.name}'" } %>

<% content_for :actions do %>
    <%= render partial: 'common/btn_editar', locals: { recurso: @person } %>
    <%= render partial: 'common/btn_deletar', locals: { disabled: @participations.any? ? true : false,
                                                        recurso: @person } %>
<% end %>

<dl class="dl-horizontal">
  <dt>Nome:</dt>
  <dd><%= @person.name %></dd>

  <dt>Email:</dt>
  <dd><%= @person.email %></dd>
</dl>


<div class="well">
    <h4>Participação em events</h4>
    <br/>
    <table class="table table-striped">
      <tr>
        <th>Evento</th>
        <th>Tipo Participação</th>
        <th>Data</th>
      </tr>
      <% @participations.each do |ep| %>
          <tr>
            <td><%= link_to ep.event.name, event_path(ep.event) %></td>
            <td><%= ep.participation_type %></td>
            <td><%= ep.event.start %></td>
          </tr>
      <% end %>
    </table>
</div>