
<%= render partial: 'common/titulo_pagina', locals: {
        titulo: "Pessoa <em>#{@person.name}</em>".html_safe,
        back_url: people_path } %>

<% content_for :actions do %>
    <%= render partial: 'common/btn_editar', locals: { recurso: @person } %>
    <%= render partial: 'common/btn_deletar', locals: { disabled: @participations.any? ? true : false,
                                                        recurso: @person } %>
<% end %>

<address>
  <strong>Dados gerais</strong><br>

  <%= @person.name %> (<a href="mailto:#"><%= @person.email %></a>)<br>

  <%= @person.gender %>, <%= @person.age %> anos<br>

  <% if @person.occupation.present? %>
    <%= @person.occupation %><br>
  <% end %>

  <% unless @person.nationality == 'Brasileiro' %>
    <%= @person.nationality %><br>
  <% end %>

  <% if @person.date_of_birth.present? %>
   <%= date_display @person.date_of_birth %> <small>(faltam <%= @person.days_until_birthday %> para seu aniversário)</small><br>
  <% end %>

  <% @person.phone_numbers.each do |phone| %>
    <%= phone.phone_type %>: <%= phone.number.phony_formatted %> <%= "(#{phone.provider})" if phone.provider %><br>
  <% end  %>
</address>

<% @person.addresses.each do |address| %>
  <address>
    <strong>Endereço</strong><br>
      <% if address.line1.present? %>
        <%= address.line1 %><br>
      <% end %>
      <% if address.zip.present? %>
         CEP <%= address.zip %><br>
      <% end  %>
      <% if address.city.present? %>
         <%= address.city %> - <%= address.state_name %><br>
      <% end  %>
      <% if address.country_code.present? %>
          <%= address.country_name %><br>
      <% end  %>
  </address>
<% end  %>

<% if @participations.empty? %>
  <br/>
  <p class="text-muted">Não participou de nenhum evento da <em>Reconscientia</em></p>

<% else  %>
    <div class="well">
        <h4>Participação em eventos <small>(últimos eventos aparecem primeiro)</small></h4>
        <br/>
        <table class="table table-striped">
          <tr>
            <th>Evento</th>
            <th>Tipo Participação</th>
            <th>Última atualização</th>
            <th>Data evento</th>
          </tr>
          <% @participations.each do |participation| %>
              <tr>
                <td><%= link_to participation.event.name, event_path(participation.event) %></td>
                <td><%= participation.participation_type %></td>
                <td><%= date_display participation.updated_at %></td>
                <td><%= date_display participation.event.start %></td>
              </tr>
          <% end %>
        </table>
    </div>
<% end %>