<%= render 'common/back_link', destino: 'Pessoas', url: people_path(params.except(:id)) %>
<%= render 'common/page_title', titulo: "<em>#{@person.name}</em>".html_safe %>

<% content_for :actions do %>
    <%= render 'btn_actions' %>
<% end %>

<% unless @person.needs_review %>
    <%= render 'needs_review_modal' %>
<% end %>


<% if @person.needs_review %>
    <div class="alert alert-warning" role="alert">
        <%= bootstrap_form_for @person do |f| %>
            <%= f.hidden_field :needs_review_reason, value: nil %>
            <%= f.hidden_field :needs_review, value: false %>
            <strong>Necessita revisão cadastral</strong>
            <%= f.submit 'Tudo certo, revisado!', class: 'btn btn-success btn-xs pull-right' %>
            <br/>
            <%= @person.needs_review_reason %>
        <% end %>
    </div>
<% end %>

<div class="row">
  <div class="col-xs-2">
    <% if @person.avatar.present? %>
        <p class="text-center"><%= image_tag @person.avatar.url(:medium), class: 'img-circle' %></p>
    <% else %>
        <p class="text-center">
          <i class="fa fa-user text-muted" style="font-size: 100px;" aria-hidden="true"></i><br>
          <small>Nenhuma foto adicionada</small>
        </p>
    <% end %>
  </div>
  <div class="col-xs-10">
    <address>
      <% unless @person.marketing %>
        <%= '<small class="text-muted">Não deseja receber divulgação</small>'.html_safe %>
      <% end %>
      <br>

      <% if @person.volunteer %>
        Voluntário da área de <%= @person.volunteer.area_of_operation %><br>
      <% end %>

      <% if @person.age.present? %>
        <%= @person.age %> anos<br>
      <% end  %>

      <% if @person.relationship.present? %>
        <%= I18n.t("relationship.#{@person.relationship}") %><br>
      <% end  %>

      <% if @person.occupation.present? %>
        <%= @person.occupation %><br>
      <% end %>

      <% if @person.nationality.present? and not @person.nationality == 'Brasileiro' %>
        <%= @person.nationality %><br>
      <% end %>

      <% if @person.date_of_birth.present? %>
       <%= date_display @person.date_of_birth %> <small>(faltam <%= @person.days_until_birthday %> para seu aniversário)</small><br>
      <% end %>

      <% if @person.email.present? %>
          <a href="mailto:#"><%= @person.email %></a><br>
      <% end %>

      <% @person.phone_numbers.each do |phone| %>
          <%= phone_display(phone) %><br>
      <% end %>
    </address>

    <% @person.addresses.each do |address| %>
        <address>
          <strong>Endereço</strong><br>
          <% if address.line1.present? %>
              <%= address.line1 %><br>
          <% end %>
          <% if address.zip.present? %>
              CEP <%= address.zip %><br>
          <% end  %>
          <% if address.city.present? %>
              <%= address.city %> - <%= address.state %><br>
          <% end  %>
          <% if address.country.present? %>
              <%= address.country %><br>
          <% end  %>
        </address>
    <% end  %>

  </div>
</div>

<!-- Participação em eventos -->

<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Participação em eventos</h3>
  </div>
  <div class="panel-body">

    <% if @enrolls.empty? %>

        Não participou de eventos da <em>Reconscientia</em>.

    <% else  %>

      <% @enrolls.each do |participation| %>
            <div>
              <%= link_to participation.event.name_with_date, event_path(participation.event) %>
              <em>(<%= I18n.t("participation_types.#{participation.p_type}").downcase %>)</em>
            </div>
        <% end %>
    <% end %>
  </div>
</div>



<!-- Contatos TMK -->

<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Contatos TMK
        <div class="pull-right">
          <%= render 'common/btn_new_tmk', with_who: @person %>
        </div>
    </h3>
  </div>
  <div class="panel-body">

    <% if @tmks.empty? %>

        Não houve contatos de TMK.
        <% if policy(Tmk).create? %>
            Que tal fazer um agora?
        <% end %>

    <% else  %>

        <% @tmks.each do |tmk| %>
            <div>
              <%= tmk_summary_no_with_who(tmk, false) %>
            </div>
        <% end %>
    <% end %>

  </div>
</div>
