
<%= render partial: 'common/titulo_pagina', locals: {
        titulo: "Pessoa <em>#{@person.name}</em>".html_safe,
        back_url: people_path } %>

<% content_for :actions do %>
    <%= render partial: 'common/btn_editar', locals: { recurso: @person } %>
    <%= render partial: 'common/btn_deletar', locals: { disabled: @participations.any? ? true : false,
                                                        recurso: @person } %>
<% end %>

<dl class="dl-horizontal">
  <dt>Nome:</dt>
  <dd><%= @person.name %></dd>

  <dt>Email:</dt>
  <dd><%= @person.email %></dd>
</dl>

<% if @participations.empty? %>
  <br/>
  <p class="text-muted">Não participou de nenhum evento da <em>Reconscientia</em></p>

<% else  %>
    <div class="well">
        <h4>Participação em eventos <small>(últimos eventos aparecem primeiro)</small></h4>
        <br/>
        <table class="table table-striped">
          <tr>
            <th>Evento</th>
            <th>Tipo Participação</th>
            <th>Última atualização</th>
            <th>Data evento</th>
          </tr>
          <% @participations.each do |participation| %>
              <tr>
                <td><%= link_to participation.event.name, event_path(participation.event) %></td>
                <td><%= participation.participation_type %></td>
                <td><%= date_display participation.updated_at %></td>
                <td><%= date_display participation.event.start %></td>
              </tr>
          <% end %>
        </table>
    </div>
<% end %>