<%= render 'common/back_link', destino: 'Pessoas', url: people_path(params.except(:id)) %>
<%= render 'common/page_title', titulo: "<em>#{@person.name}</em>".html_safe %>

<% content_for :actions do %>
    <%= render 'common/btn_versions', resource: @person %>
    <%= render 'common/btn_edit', resource: @person %>
    <% @person.safely_destroyable? ? disabled = false : disabled = true%>
    <%= render 'common/btn_delete', resource: @person, disabled: disabled %>
    <%=  %>
<% end %>

<address>
  <%= @person.name %> <% if @person.email.present? %>(<a href="mailto:#"><%= @person.email %></a>)<% end %>
  <% unless @person.marketing %>
    <%= '<small class="text-muted">Não deseja receber divulgação</small>'.html_safe %>
  <% end %>
  <br>

  <% if @person.volunteer %>
    Voluntário da área de <%= @person.volunteer.area_of_operation %><br>
  <% end %>

  <% if @person.age.present? %>
    <%= @person.age %> anos<br>
  <% end  %>

  <% if @person.relationship.present? %>
    <%= I18n.t("relationship.#{@person.relationship}") %><br>
  <% end  %>

  <% if @person.occupation.present? %>
    <%= @person.occupation %><br>
  <% end %>

  <% if @person.nationality.present? and not @person.nationality == 'Brasileiro' %>
    <%= @person.nationality %><br>
  <% end %>

  <% if @person.date_of_birth.present? %>
   <%= date_display @person.date_of_birth %> <small>(faltam <%= @person.days_until_birthday %> para seu aniversário)</small><br>
  <% end %>

  <% @person.phone_numbers.each do |phone| %>
    <%= phone.phone_type %>: <%= phone.number.phony_formatted %> <%= "(#{phone.provider})" if phone.provider.present? %><br>
  <% end  %>
</address>

<% @person.addresses.each do |address| %>
  <address>
    <strong>Endereço</strong><br>
      <% if address.line1.present? %>
        <%= address.line1 %><br>
      <% end %>
      <% if address.zip.present? %>
         CEP <%= address.zip %><br>
      <% end  %>
      <% if address.city.present? %>
         <%= address.city %> - <%= address.state %><br>
      <% end  %>
      <% if address.country.present? %>
          <%= address.country %><br>
      <% end  %>
  </address>
<% end  %>



<!-- Participação em eventos -->

<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Participação em eventos</h3>
  </div>
  <div class="panel-body">

    <% if @enrolls.empty? %>

        Não participou de eventos da <em>Reconscientia</em>.

    <% else  %>

      <% @enrolls.each do |participation| %>
            <div>
              <%= link_to participation.event.name_with_date, event_path(participation.event) %>
              <em>(<%= participation.participation_type.downcase %>)</em>
            </div>
        <% end %>
    <% end %>
  </div>
</div>



<!-- Contatos TMK -->

<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Contatos TMK</h3>
  </div>
  <div class="panel-body">

    <% if @tmks.empty? %>

        Não houve contatos de TMK.
        <% if policy(Tmk).create? %>
            Que tal fazer um agora?
            <%= link_to "<span class=\"glyphicon glyphicon-phone-alt\"></span> TMK".html_safe,
                                        new_tmk_path, class: "btn btn-sm btn-success" %>
        <% end %>

    <% else  %>

        <% @tmks.each do |tmk| %>
        <div>
          Evento <%= link_to tmk.event.name_with_date, event_path(tmk.event) %>
          há <%= time_ago_in_words tmk.contact_date %>
          por <%= tmk.from_who.name %>
          <% unless tmk.notes.blank? %>
          com a anotação <strong><em>"<%= tmk.notes %>"</em></strong>
          <% end %>
          <%= render 'common/btn_edit', resource: tmk, size: 'btn-xs', btn_label: '' %>
        </div>
        <% end %>
    <% end %>

  </div>
</div>
