<%= render 'common/back_link', destino: 'Pessoas', url: people_path(params.except(:id)) %>
<%= render 'common/page_title', titulo: "<em>#{@person.name}</em>".html_safe %>

<% content_for :actions do %>
    <%= render 'common/versions_modal' %>
    <%= render 'common/btn_edit', resource: @person %>
    <%= render 'common/btn_delete', resource: @person %>
<% end %>

<address>
  <%= @person.name %> <% if @person.email.present? %>(<a href="mailto:#"><%= @person.email %></a>)<% end %>
  <%= '<small class="text-muted">Não deseja receber divulgação</small>'.html_safe unless @person.marketing %>
  <br>

  <% if @person.volunteer %>
    Voluntário da área de <%= @person.volunteer.area_of_operation %><br>
  <% end %>

  <% if @person.age.present? %>
    <%= @person.age %> anos<br>
  <% end  %>

  <% if @person.occupation.present? %>
    <%= @person.occupation %><br>
  <% end %>

  <% if @person.nationality.present? and not @person.nationality == 'Brasileiro' %>
    <%= @person.nationality %><br>
  <% end %>

  <% if @person.date_of_birth.present? %>
   <%= date_display @person.date_of_birth %> <small>(faltam <%= @person.days_until_birthday %> para seu aniversário)</small><br>
  <% end %>

  <% @person.phone_numbers.each do |phone| %>
    <%= phone.phone_type %>: <%= phone.number.phony_formatted %> <%= "(#{phone.provider})" if phone.provider.present? %><br>
  <% end  %>
</address>

<% @person.addresses.each do |address| %>
  <address>
    <strong>Endereço</strong><br>
      <% if address.line1.present? %>
        <%= address.line1 %><br>
      <% end %>
      <% if address.zip.present? %>
         CEP <%= address.zip %><br>
      <% end  %>
      <% if address.city.present? %>
         <%= address.city %> - <%= address.state %><br>
      <% end  %>
      <% if address.country.present? %>
          <%= address.country %><br>
      <% end  %>
  </address>
<% end  %>

<% if @participations.empty? %>
  <br/>
  <p class="text-muted">Não participou de nenhum evento da <em>Reconscientia</em></p>

<% else  %>
    <div class="well">
        <h4>Participação em eventos <small>(últimos eventos aparecem primeiro)</small></h4>
        <br/>
        <table class="table table-striped table-condensed">
          <tr>
            <th>Evento</th>
            <th>Tipo Participação</th>
            <th>Última atualização</th>
            <th>Data evento</th>
          </tr>
          <% @participations.each do |participation| %>
              <tr>
                <td><%= link_to participation.event.name, event_path(participation.event) %></td>
                <td><%= participation.participation_type %></td>
                <td><%= date_display participation.updated_at %></td>
                <td><%= date_display participation.event.start %></td>
              </tr>
          <% end %>
        </table>
    </div>
<% end %>


<% if @tmks.empty? %>
    <br/>
    <p class="text-muted">Não houve nenhum contato TMK</p>

<% else  %>
    <div class="well">
      <h4>Contatos TMK</h4>
      <br/>
      <table class="table table-striped table-condensed">
        <tr>
          <th>Data</th>
          <th>Evento</th>
          <th>Notas</th>
          <th>Quem fez</th>
        </tr>
        <% @tmks.each do |tmk| %>
            <tr>
              <td><%= link_to date_display(tmk.contact_date), edit_tmk_path(tmk) %></td>
              <td><%= tmk.event.name %></td>
              <td><%= tmk.notes %></td>
              <td><%= tmk.from_who.name %></td>
            </tr>
        <% end %>
      </table>
    </div>
<% end %>