

<div class="col-lg-3">
	<span>
	  	<% defined? disabled ? true : disabled = false %>
	  	<% btn_class = 'btn-primary' if not btn_class %>
		<a class="btn btn-block btn-lg ss-task-entry-btn <%= btn_class %> <%= ('disabled' if disabled) %>"
		   data-toggle="tooltip" data-placement="top" title="<%= description %>"
				href="<%= r_link_to if not disabled %>"><%= title %></a>
	</span>
</div>