
<%= render partial: 'section_title', locals: { title: 'Cadastro' } %>
<div class='row'>
  <%= render partial: 'entry', locals: { title:  'Pessoas',
                                           r_link_to: people_path,
                                           description: ''} %>
  <%= render partial: 'entry', locals: { title:  'Eventos',
                                         r_link_to: events_path,
                                         description: ''} %>
  <%= render partial: 'entry', locals: { title:  'Divulgação',
                                         r_link_to: divulgacao_path,
                                         description: ''} %>
</div>

<%= render partial: 'section_title', locals: { title: 'Admin' } %>
<div class='row'>
  <%= render partial: 'entry', locals: { title:  'Usuários',
                                         r_link_to: users_path,
                                         description: ''} %>
</div>

