
<div class='row'>

  <div class="well col-lg-3 tasks-box">
    <h4>Cadastro Geral</h4>
    <p>Gerencie e visualize o cadastro de pessoas.</p>
    <p><a class="btn btn-primary" role="button" href="<%= people_path %>">Pessoas &raquo;</a></p>
  </div>

  <div class="well col-lg-3 tasks-box">
    <h4>Eventos</h4>
    <p>Adicione eventos, gerencie participações etc...</p>
    <p><a class="btn btn-primary" role="button" href="<%= events_path %>">Eventos &raquo;</a></p>
  </div>

  <div class="well col-lg-3 tasks-box">
    <h4>Divulgação</h4>
    <p>Listas de email para divulgação dos cursos e eventos da <em>Reconscientia</em>.</p>
    <p><a class="btn btn-primary" role="button" href="<%= divulgacao_path %>">Divulgação &raquo;</a></p>
    <p><a class="btn btn-primary" role="button" href="<%= tmks_path %>">TMK &raquo;</a></p>
  </div>

</div>


<div class='row'>

  <div class="well col-lg-3 tasks-box">
    <h4>Administrador</h4>
    <p>Diversas tarefas relacionadas a gestão deste site.</p>
    <p><a class="btn btn-danger" role="button" href="<%= users_path %>">Usuários &raquo;</a></p>
  </div>

</div>



