<%= form_for @evento_pessoa do |f| %>

    <% if @evento_pessoa.errors.any? %>
        <%= render partial: 'common/error', locals: { objeto: @evento_pessoa } %>
    <% end %>

    <%= hidden_field_tag :evento_id, @evento_pessoa.evento.id %>

    <div class="form-group">
      <%= f.label 'Evento' %>
      <p class="form-control-static"><%= @evento_pessoa.evento.nome %></p>
    </div>

    <div class="form-group">
      <%= f.label :pessoa %><br>
      <%= f.select :pessoa_id, options_from_collection_for_select(Pessoa.all, 'id', 'nome'), {}, class: 'form-control' %>
    </div>

    <div class="form-group">
      <%= f.label :status %><br>
      <%= f.select :status, options_for_select(EventoPessoa.tipos_de_status), {}, class: 'form-control' %>
    </div>

    <div class="form-group">
      <%= f.label :tipo_participacao %><br>
      <%= f.select :tipo_participacao, options_for_select(EventoPessoa.tipos_de_participacao), {}, class: 'form-control' %>
    </div>


    <div>
      <%= f.submit 'Salvar', class: 'btn btn-primary' %>
    </div>
<% end %>