<%= render partial: 'common/page_title', locals: { titulo: 'Usuários' } %>

<table class="table table-striped">
  <tr>
    <th>uid</th>
    <th>Nome</th>
    <th>Email</th>
    <th>Papel</th>
    <th>Ações</th>
  </tr>

  <% @users.each do |user| %>
      <tr>
        <td><%= user.id %></td>
        <td><%= user.name %></td>
        <td><%= user.email %></td>
        <td><%= user.role %></td>
        <td>
          <%= render partial: 'common/btn_edit', locals: { recurso: user, size: 'btn-xs' } %>
          <%= render partial: 'common/btn_delete', locals: { recurso: user, size: 'btn-xs' } %>
        </td>
      </tr>
  <% end %>
</table>