<%= render 'common/page_title', titulo: 'Usuários' %>

<table class="table table-striped">
  <tr>
    <th>uid</th>
    <th>Nome</th>
    <th>Email</th>
    <th>Pessoa</th>
    <th>Grupo</th>
    <th>Ações</th>
  </tr>

  <% @users.each do |user| %>
      <tr>
        <td><%= user.id %></td>
        <td><%= user.name %></td>
        <td><%= user.email %></td>
        <td><%= user.person.present? ? user.person.name : '' %></td>
        <td><%= user.group %></td>
        <td>
          <%= render 'common/btn_edit', resource: user, size: 'btn-xs' %>
          <%= render 'common/btn_delete', resource: user, size: 'btn-xs' %>
        </td>
      </tr>
  <% end %>
</table>