<%= render 'common/page_title', titulo: 'Usuários' %>

<table class="table table-striped">
  <tr>
    <th>uid</th>
    <th>Nome</th>
    <th>Email</th>
    <th>Pessoa</th>
    <th>Papeis</th>
    <th></th>
  </tr>

  <% @users.each do |user| %>
      <tr>
        <td><%= user.id %></td>
        <td><%= user.name %></td>
        <td><%= user.email %></td>
        <td><%= user.person.present? ? link_to(user.person.name, person_path(user.person)) : '' %></td>
        <td><%= user.roles.map {|role| I18n.t "roles.#{role.name}" }.join(', ') %>
        </td>
        <td>
          <%= render 'common/btn_edit', resource: user, size: 'btn-xs', btn_label: '' %>
          <%= render 'common/btn_delete', resource: user, size: 'btn-xs', btn_label: '' %>
        </td>
      </tr>
  <% end %>
</table>