<%= form_for @pessoa, html: { class: 'form-horizontal' } do |f| %>

    <% if @pessoa.errors.any? %>
        <%= render partial: 'common/error', locals: { objeto: @pessoa } %>
    <% end %>


    <div class="form-group">
      <%= f.label :nome, 'Nome', class: 'control-label col-sm-2' %>
      <div class="col-sm-6">
        <%= f.text_field :nome, class: 'form-control' %>
      </div>
    </div>

    <div class="form-group">
      <%= f.label :sexo, 'Sexo', class: 'control-label col-sm-2' %>
      <div class="col-sm-3">
        <%= f.select :sexo, options_for_select([%w(Masculino M), %w(Feminino F)]),
                   { }, class: 'form-control' %>
      </div>
    </div>

    <div class="form-group">
      <%= f.label :email, 'E-mail', class: 'control-label col-sm-2' %><br>
      <div class="col-sm-4">
        <%= f.text_field :email, class: 'form-control' %>
      </div>
    </div>

    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-10">
        <%= f.submit 'Salvar', class: 'btn btn-primary' %>
      </div>
    </div>
<% end %>