<h2>Pessoas</h2>


<%= link_to 'Adicionar', new_pessoa_path, class: 'btn btn-primary' %>

<table class="table table-striped">
  <tr>
    <th>Nome</th>
    <th>Email</th>
    <th>Ações</th>
  </tr>

  <% @pessoas.each do |pessoa| %>
      <tr>
        <td><%= pessoa.nome %></td>
        <td><%= pessoa.email %></td>
        <td>
          <%= link_to 'Info', pessoa_path(pessoa), class: 'btn btn-xs btn-primary' %>
          <%= link_to 'Editar', edit_pessoa_path(pessoa), class: 'btn btn-xs btn-primary' %>
          <%= link_to 'Deletar', pessoa_path(pessoa), class: 'btn btn-xs btn-danger',
                      method: :delete, data: { confirm: "Você tem certeza que deseja deletar '#{pessoa.nome}'?" } %>
        </td>
      </tr>
  <% end %>
</table>