
<%= render partial: 'common/titulo_pagina', locals: { titulo: "Pessoa '#{@pessoa.name}'" } %>

<% content_for :actions do %>
    <%= render partial: 'common/btn_editar', locals: { recurso: @pessoa } %>
    <%= render partial: 'common/btn_deletar', locals: { disabled: @participacoes.any? ? true : false,
                                                        recurso: @pessoa } %>
<% end %>

<dl class="dl-horizontal">
  <dt>Nome:</dt>
  <dd><%= @pessoa.name %></dd>

  <dt>Email:</dt>
  <dd><%= @pessoa.email %></dd>
</dl>


<div class="well">
    <h4>Participação em eventos</h4>
    <br/>
    <table class="table table-striped">
      <tr>
        <th>Evento</th>
        <th>Tipo Participação</th>
        <th>Data</th>
      </tr>
      <% @participacoes.each do |ep| %>
          <tr>
            <td><%= link_to ep.evento.name, evento_path(ep.evento) %></td>
            <td><%= ep.tipo %></td>
            <td><%= ep.evento.inicio %></td>
          </tr>
      <% end %>
    </table>
</div>