<dl class="dl-horizontal">
  <dt>Nome:</dt>
  <dd><%= @pessoa.nome %></dd>

  <dt>Email:</dt>
  <dd><%= @pessoa.email %></dd>
</dl>

<h4>Participação em eventos</h4>

<table class="table table-striped">
  <tr>
    <th>Evento</th>
    <th>Tipo Participação</th>
    <th>Data</th>
  </tr>
  <% @pessoa_eventos.each do |ep| %>
      <tr>
        <td><%= ep.evento.nome %></td>
        <td><%= ep.tipo_participacao %></td>
        <td><%= ep.evento.inicio %></td>
      </tr>
  <% end %>
</table>

