
<%= render partial: 'common/titulo_pagina', locals: { titulo: 'Eventos' } %>

<% content_for :actions do %>
    <%= render partial: 'common/btn_adicionar', locals: { url: new_evento_path, recurso: Event.new } %>
<% end %>


<table class="table table-striped">
  <tr>
    <th>Nome</th>
    <th>Tipo</th>
    <th>Descrição</th>
    <th>Inicio</th>
    <th>Fim</th>
  </tr>

  <% @eventos.each do |evento| %>
      <tr>
        <td><%= link_to evento.name, evento_path(evento) %></td>
        <td><%= evento.tipo %></td>
        <td><%= evento.descricao %></td>
        <td><%= evento.inicio %></td>
        <td><%= evento.fim %></td>
      </tr>
  <% end %>
</table>