
<%= render partial: 'common/titulo_pagina', locals: { titulo: "Evento #{@evento.name}" } %>

<% content_for :actions do %>
    <%= render partial: 'common/btn_editar', locals: { recurso: @evento } %>
    <%= render partial: 'common/btn_deletar', locals: { recurso: @evento } %>
<% end %>


<dl class="dl-horizontal">
  <dt>Tipo:</dt>
  <dd><%= @evento.tipo %></dd>

  <dt>Descrição:</dt>
  <dd><%= @evento.descricao %></dd>

  <dt>Início:</dt>
  <dd><%= @evento.inicio %></dd>

  <dt>Fim:</dt>
  <dd><%= @evento.fim %></dd>
</dl>


<!-- Participantes -->
<div class="well">

    <div class="row">
      <div class="col-lg-6">
        <h4>Participantes</h4>
      </div>
      <div class="col-lg-6">
        <h4><!-- O hX deve ser o mesmo do titulo da pagina para os dois ficarem alinhados horizontalmente-->
          <div class="pull-right">
            <%= render partial: 'common/btn_adicionar', locals: { url: new_evento_participacao_path(@evento.id),
                                                                  size: 'btn-sm', recurso: @evento } %>
            <%= link_to 'Lista de emails', emails_evento_participacoes_path(@evento.id), class: 'btn btn-sm btn-link' %>
          </div>
        </h4>
      </div>
    </div>
    <br/>

    <table class="table table-striped">
      <tr>
        <th>Nome</th>
        <th>E-mail</th>
        <th>Participação</th>
        <th>Status</th>
        <% if policy(@evento).edit? %>
            <th>Ações</th>
        <% end %>
      </tr>
      <% @participacoes.each do |participacao| %>
          <tr>
            <td><%= link_to participacao.pessoa.name, pessoa_path(participacao.pessoa.id) %></td>
            <td><%= participacao.pessoa.email %></td>
            <td><%= participacao.tipo %></td>
            <td><%= participacao.status %></td>
            <!--A checagem de permissão é feita aqui para a coluna ser ou não gerada e ficar consistente-->
            <!--com o cabeçalho-->
            <% if policy(@evento).edit? %>
                <td>
                  <%= render partial: 'common/btn_editar', locals: { url: edit_evento_participacao_path(@evento, participacao),
                                                                     size: 'btn-xs', recurso: @evento } %>
                  <%= render partial: 'common/btn_deletar', locals: { url: evento_participacao_path(@evento, participacao),
                                                                      size: 'btn-xs', recurso: @evento } %>
                </td>
            <% end %>
          </tr>
      <% end %>
    </table>
</div>