
<div class="card">

  <h4 class="card-header">
    Arquivos
      <% unless @event.archived %>
          <div class="float-right">

            <!-- Botão de adição BEGIN -->

            <div class="btn-group">
              <button type="button" class="btn btn-success btn-xs dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                <%= fa_icon('plus') %>
              </button>

              <div class="dropdown-menu dropdown-menu-right" >
                <% ResourceAsset.asset_types.keys.to_a.each do |asset_type| %>
                    <%= link_to I18n.t("asset_types.#{asset_type}"),
                                new_resource_asset_path(assetable_id: @event.id,
                                                        assetable_type: 'Event', asset_type: asset_type),
                                class: "dropdown-item" %>
                <% end %>
              </div>
            </div>

            <!-- Botão de adição END -->

          </div>
      <% end %>
  </h4>

  <div class="card-body">

    <!-- Listagem de arquivos BEGIN -->

    <% asset_unavaliable = true  %>
    <% @assets_by_type.each do |asset_type, assets| %>
        <% next if assets.empty? %>
        <h5><%= I18n.t("asset_types.#{asset_type}") %></h5>
        <% assets.each do |asset| %>
          <% if policy(asset).show? and asset.file.attached? %>
              <% asset_unavaliable = false %>
              <p>
                <small><%= asset.file.filename %> (<%= number_to_human_size(asset.file.byte_size) %>)</small><br>
                <small class="text-muted">
                  em <%= date_display(asset.created_at) %>
                </small>
                <span class="float-right">
                  <%= link_to fa_icon('download'), url_for(asset.file), class: 'btn btn-link btn-xs', target: '_blank' %>
                  <% unless @event.archived %>
                      <%= render 'common/btn_delete', btn_label: '', url: resource_asset_path(asset,
                                                                                             assetable_id: @event.id,
                                                                                             assetable_type: 'Event',
                                                                                             asset_type: asset.asset_type),
                                 size: 'btn-xs', resource: asset %>
                  <% end %>
                </span>
              </p>
          <% end %>
        <% end %>
        <br>
    <% end %>

    <% if asset_unavaliable %>
        Não existem arquivos disponibilizados para você
    <% end %>

    <!-- Listagem de arquivos END -->

  </div>
</div>