<% participations = local_assigns.fetch :participations, [] %>
<% color = local_assigns.fetch :color, '' %>
<% title = local_assigns.fetch :title, '' %>


<div class="card <%= color %>">
  <!-- Default card contents -->
  <div class="card-header"><strong><%= title.html_safe %></strong></div>

  <!-- Table -->
  <div class="card-body">
    <table class="table">
      <thead>
      <tr>
        <th class="w-2"></th>
        <th class="w-3">Últimos eventos</th>
        <th>Últimos TMKs</th>
        <th class="w-1"></th>
      </tr>
      </thead>
      <tbody>
      <% participations.each do |participation| %>
          <% person = participation.person %>
          <tr>
            <td>
              <%= link_to person.name, person_path(person.id) %>
              <% unless participation.student? %>
                  <!-- Por padrão não mostrar se é Aluno, porque este é 99% dos casos -->
                  <em>(<%= I18n.t("participation.types.#{participation.p_type}").downcase %>)</em>
              <% end %>
              <br>
              <%= render 'common/btn_new_tmk', event: @event, with_who: participation.person %>
            </td>
            <td>
              <% person.participations.includes(:event).where.not(event: @event).order('events.start DESC').limit(3).each do |other_part| %>
                  <small><%= link_to other_part.event.name_with_date, event_path(other_part.event) %></small><br>
              <% end %>
            </td>
            <td>
              <% person.tmks.order('tmks.contact_date DESC').limit(3).each do |tmk| %>
                  <small><%= tmk_summary_no_with_who tmk, tmk.event == @event  %></small><br>
              <% end %>
            </td>
            <td>
              <%= render 'common/btn_edit', url: edit_event_participation_path(@event, participation),
                         btn_label: '', size: 'btn btn-xs', resource: participation %>
              <%= render 'common/btn_delete', url: event_participation_path(@event, participation),
                         btn_label: '', size: 'btn btn-xs', resource: participation %>
            </td>
          </tr>
      <% end %>
      </tbody>
    </table>
  </div>
</div>

