
<%= render 'common/page_title', titulo: 'Eventos' %>

<% content_for :actions do %>
    <%= render 'common/btn_add', url: new_event_path, resource: Event.new %>
<% end %>


<table class="table table-striped">
  <tr>
    <th>Nome</th>
    <th>Tipo</th>
    <th>Descrição</th>
    <th>Inicio</th>
    <th>Fim</th>
  </tr>

  <% @events.each do |event| %>
      <tr>
        <td><%= link_to event.name, event_path(event) %></td>
        <td><%= event.event_type %></td>
        <td><%= event.description %></td>
        <td><%= date_display event.start %></td>
        <td><%= date_display event.finish %></td>
      </tr>
  <% end %>
</table>