
<%= render 'common/page_title', titulo: 'Eventos' %>

<% content_for :actions do %>
    <%= render 'common/btn_calendar' %>
    <%= render 'common/btn_new', url: new_event_path, resource: Event.new, btn_label: 'Novo evento' %>
<% end %>

<% @events_by_year.each do |year, events| %>
    <h3><%= year %> <small>(<%= events.count %>)</small></h3>
    <%= render 'common/event_listing', events: events %>
    <br>
<% end %>

