
<% if @event.start.to_date == @event.finish.to_date %>
    <% date_str = "Em #{I18n.l @event.start.to_date}" %>
<% else %>
    <% date_str = "De #{I18n.l @event.start.to_date} a #{I18n.l @event.finish.to_date}" %>
<% end %>

<% title = "Evento <em>#{@event.name}</em>" %>
<% if @event.archived and policy(@event).archive? %>
    <% title += " <small><span class=\"label label-default\">Arquivado</span></small>"  %>
<% end %>

<%= render 'common/page_title',
           titulo: title.html_safe,
           sub_title: "#{date_str}, relacionado à atividade #{activity_link_display @event.activity}" %>

<% content_for :actions do %>
    <%= render 'btn_archive' %>
    <% unless @event.archived %>
        <%= render 'common/btn_edit', resource: @event %>
        <%= render 'common/btn_delete', resource: @event %>
    <% end %>
<% end %>

<br>
<div class="lead">
  <dd><%= @event.description %></dd>
</div>

<br>


<!-- Participantes -->
<% if policy(Participation).show? %>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Participantes
          <div class="pull-right">
            <%= link_to '<i class="fa fa-envelope"></i> E-mails'.html_safe,
                        emails_event_path(@event), class: 'btn btn-xs btn-default' %>
            <% unless @event.archived %>
                <%= link_to '<i class="fa fa-users"></i> Gerar lista de presença'.html_safe,
                        attendance_event_path(@event, format: :pdf), class: 'btn btn-xs btn-default' %>
                <%= render 'common/btn_new', url: new_event_participation_path(@event.id, pstatus: Participation.statuses[:enrolled]),
                       btn_label: 'Nova participação', size: 'btn-xs', resource: @event %>
            <% end %>
          </div>
        </h3>
      </div>
      <div class="panel-body">

        <!--
            Equipe docente
        -->
        <% organizers = @event.enrolls.where(p_type: Participation::ORGANIZER_P_TYPES)  %>
        <h5>Equipe Docente <span class="badge"><%= organizers.count %></span></h5>
        <%= render 'list_participations',
                   participations: organizers,
                   msg_when_empty: 'Não existe equipe organizadora para este evento' %>
        <br/>


        <!--
            Alunos inscritos
        -->
        <% student_enrolls = @event.enrolls.where.not(p_type: Participation::ORGANIZER_P_TYPES) %>
        <h5>Alunos inscritos <span class="badge"><%= student_enrolls.count %></span></h5>
        <%= render 'list_participations',
                   participations: student_enrolls,
                   msg_when_empty: 'Não existem inscritos para este evento' %>
        <br/>


        <!--
            Pré-inscritos
        -->
        <% pre_enrolls = @event.pre_enrolls  %>
        <h5>Pré-inscritos <span class="badge"><%= pre_enrolls.count %></span></h5>
        <%= render 'list_participations',
                   participations: pre_enrolls,
                   msg_when_empty: 'Não existem pré-inscritos para este evento' %>


      </div>
    </div>

<% end %>



<!-- Pendências para fechamento dos participantes -->

<% if policy(Participation).show? and !@event.archived %>
    <div class="panel panel-primary">
      <div class="panel-heading">
        <h3 class="panel-title">Pendências <span class="badge"><%= @event.pending_enrollments.count %></span>
          <% unless @event.archived %>
              <div class="pull-right">
                <%= render 'common/btn_new', url: new_event_participation_path(@event.id, pstatus: Participation.statuses[:divulge]),
                           size: 'btn-xs', btn_label: 'Nova participação', resource: @event %>
              </div>
          <% end %>
        </h3>
      </div>
      <div class="panel-body">

        <!-- Tabela de acompanhamento de contatos e divulgação -->
        <% if @event.pending_enrollments.empty? %>

            Não há participantes pendentes

        <% else %>
        <table class="table table-striped">
          <thead>
          <tr>
            <th>Contatar</th>
            <th>Situação</th>
            <th>Participação em eventos <small>(3 últimos)</small></th>
            <th>Contatos TMK</th>
            <th></th>
          </tr>
          </thead>
          <tbody>
          <% @event.pending_enrollments.each do |participation| %>
              <% person = participation.person %>
              <tr>
                <td>
                  <%= link_to person.name, person_path(person.id) %>
                  <% unless participation.student? %>
                      <!-- Por padrão não mostrar se é Aluno, porque este é 99% dos casos -->
                      <em><%= I18n.t("participation_types.#{participation.p_type}").downcase %></em>
                  <% end %>
                  <br>
                  <%= render 'common/btn_new_tmk', event: @event, with_who: participation.person %>
                </td>
                <td><%= I18n.t("participation.status.#{participation.status}") %></td>
                <td class="col-md-3">
                    <% person.participations.includes(:event).where.not(event: @event).order('events.start DESC').limit(3).each do |other_part| %>
                      <small><%= link_to other_part.event.name_with_date, event_path(other_part.event) %></small><br>
                    <% end %>
                </td>
                <td>
                    <% person.tmks.order('tmks.contact_date DESC').each do |tmk| %>
                      <small><%= tmk_summary_no_with_who tmk, tmk.event == @event  %></small><br>
                    <% end %>
                </td>
                <td>
                  <%= render 'common/btn_delete', url: event_participation_path(@event, participation),
                             btn_label: '', size: 'btn-xs', resource: participation %>
                  <%= render 'common/btn_edit', url: edit_event_participation_path(@event, participation),
                             btn_label: '', size: 'btn-xs', resource: participation %>
                </td>
              </tr>
          <% end %>
          </tbody>
        </table>
        <% end %>

      </div>
    </div>
<% end %>



<!-- TMKs -->
<% if policy(Tmk).show? %>
<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">TMKs <span class="badge"><%= @event.tmks.count %></span>
    </h3>
  </div>
  <div class="panel-body">

    <% if @event.tmks.empty? %>

        Nenhum TMK foi realizado

    <% else %>

        <% @event.tmks.order('tmks.contact_date DESC').each do |tmk| %>
            <p>
              <%= tmk_summary_no_event(tmk) %>
              <% unless @event.archived %>
                <%= render 'common/btn_edit', resource: tmk, size: 'btn-xs', btn_label: '' %>
              <% end %>
            </p>
        <% end %>

    <% end %>

  </div>
</div>
<% end %>


<!-- Anexos -->

<% if policy(Asset).show? %>
<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Anexos
      <% unless @event.archived %>
          <div class="pull-right">
            <%= render 'common/btn_new', url: new_asset_path(assetable_id: @event.id,
                                                             assetable_type: 'Event'),
                       size: 'btn-xs',
                       btn_label: 'Novo anexo',
                       resource: Asset.new %>
          </div>
      <% end %>
    </h3>
  </div>
  <div class="panel-body">

    <% if @assets.empty? %>

        Não há anexos

    <% else %>

        <% @assets.each do |asset| %>
            <div>
              <i class="fa fa-file"></i>
              <%= link_to asset.file_file_name, asset.file.url %> <small>(<em><%= I18n.t("asset_types.#{asset.asset_type}") if asset.asset_type.present? %></em>)</small> <small class="text-muted"> em <%= date_display asset.created_at %></small>
              <span class="pull-right text-muted"><%= number_to_human_size asset.file.size %></span>

              <% unless @event.archived %>
                  <%= render 'common/btn_edit', btn_label: '', url: edit_asset_path(asset,
                                                                                    assetable_id: @event.id,
                                                                                    assetable_type: 'Event'),
                                                                size: 'btn-xs', resource: asset %>
                  <%= render 'common/btn_delete', btn_label: '', url: asset_path(asset,
                                                                                 assetable_id: @event.id,
                                                                                 assetable_type: 'Event'),
                                                                 size: 'btn-xs', resource: asset %>
              <% end %>
            </div>
        <% end %>

    <% end %>

        </div>
</div>
<% end %>
