
<%= render 'common/page_title', titulo: "Evento <em>#{@event.name}</em>".html_safe %>

<% content_for :actions do %>
    <%= render 'common/btn_edit', resource: @event %>
    <%= render 'common/btn_delete', resource: @event %>
<% end %>


<dl class="dl-horizontal">
  <dt>Atividade:</dt>
  <dd><%= activity_link_display @event.activity %></dd>

  <dt>Descrição:</dt>
  <dd><%= @event.description %></dd>

  <dt>Início:</dt>
  <dd><%= date_display @event.start %></dd>

  <dt>Fim:</dt>
  <dd><%= date_display @event.finish %></dd>
</dl>



<!-- Participantes -->
<% if policy(Participation).show? %>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Participantes
          <div class="pull-right">
            <%= link_to '<span class="glyphicon glyphicon-envelope"></span> E-mails'.html_safe,
                        emails_event_path(@event), class: 'btn btn-xs btn-default' %>
            <%= link_to '<span class="glyphicon glyphicon-download-alt"></span> Lista de presença'.html_safe,
                        attendance_event_path(@event, format: :pdf), class: 'btn btn-xs btn-default' %>
            <%= render 'common/btn_add', url: new_event_participation_path(@event.id, pstatus: Participation.statuses[:enrolled]),
                       size: 'btn-xs', resource: @event %>
          </div>
        </h3>
      </div>
      <div class="panel-body">

        <h5>Equipe Docente</h5>
        <% empty = true %>
        <% @event.organizers.each do |participation| %>
            <% empty = false %>
            <div>
              <%= link_to participation.person.name, person_path(participation.person.id) %>
              <em>(<%= participation.participation_type.downcase %>)</em>
              <% if policy(@event).edit? %>
                  <%= render 'common/btn_edit', url: edit_event_participation_path(@event, participation),
                             btn_label: '', size: 'btn-xs', resource: participation %>
                  <%= render 'common/btn_delete', url: event_participation_path(@event, participation),
                             btn_label: '', size: 'btn-xs', resource: participation %>
              <% end %>
            </div>
        <% end %>
        <%= 'Não existe equipe organizadora para este evento<br>'.html_safe if empty %>

        <br/>

        <h5>Inscritos (<%= @event.enrolls.count %>)</h5>
        <% empty = true %>
        <% @event.enrolls.each do |participation| %>
            <% empty = false %>
            <div>
              <%= link_to participation.person.name, person_path(participation.person.id) %>
              <% if policy(@event).edit? %>
                  <%= render 'common/btn_edit', url: edit_event_participation_path(@event, participation),
                             btn_label: '', size: 'btn-xs', resource: participation %>
                  <%= render 'common/btn_delete', url: event_participation_path(@event, participation),
                             btn_label: '', size: 'btn-xs', resource: participation %>
              <% end %>
            </div>
        <% end %>
        <%= 'Não existem inscritos para este evento' if empty %>

        <br/>

        <h5>Pré-inscritos (<%= @event.pre_enrolls.count %>)</h5>
        <% empty = true %>
        <% @event.pre_enrolls.each do |participation| %>
            <% empty = false %>
            <div>
              <%= link_to participation.person.name, person_path(participation.person.id) %>
              <% if policy(@event).edit? %>
                  <%= render 'common/btn_edit', url: edit_event_participation_path(@event, participation),
                             btn_label: '', size: 'btn-xs', resource: participation %>
                  <%= render 'common/btn_delete', url: event_participation_path(@event, participation),
                             btn_label: '', size: 'btn-xs', resource: participation %>
              <% end %>
            </div>
        <% end %>
        <%= 'Não existem pré-inscritos para este evento' if empty %>


      </div>
    </div>

<% end %>



<!-- Pendências para fechamento dos participantes -->

<% if policy(Participation).show? %>
    <div class="panel panel-primary">
      <div class="panel-heading">
        <h3 class="panel-title">Pendências (<%= @event.pending_enrollments.count %>)
          <div class="pull-right">
            <%= render 'common/btn_add', url: new_event_participation_path(@event.id, pstatus: Participation.statuses[:divulge]),
                       size: 'btn-xs', btn_label: 'Nova participação', resource: @event %>
          </div>
        </h3>
      </div>
      <div class="panel-body">



        <!-- Tabela de acompanhamento de contatos e divulgação -->
        <% if @event.pending_enrollments.empty? %>

            Não há participantes pendentes

        <% else %>
        <table class="table table-striped">
          <thead>
          <tr>
            <th>Contatar</th>
            <th>Situação</th>
            <th>Participação em eventos <small>(3 últimos)</small></th>
            <th>Contatos TMK <small>(3 últimos)</small></th>
            <th></th>
          </tr>
          </thead>
          <tbody>
          <% @event.pending_enrollments.each do |participation| %>
              <% person = participation.person %>
              <tr>
                <td><%= link_to person.name, person_path(person.id) %></td>
                <td><%= I18n.t("participation.status.#{participation.status}") %></td>
                <td class="col-md-3">
                    <% person.participations.includes(:event).where.not(event: @event).order('events.start DESC').limit(3).each do |other_part| %>
                      <small><%= link_to other_part.event.name_with_date, event_path(other_part.event) %></small><br>
                    <% end %>
                </td>
                <td>
                    <% person.tmks.order('tmks.id DESC').each do |tmk| %>
                      <small><%= tmk_summary tmk, tmk.event == @event  %></small><br>
                    <% end %>
                </td>
                <td>
                  <% if policy(@event).edit? %>
                      <%= render 'common/btn_delete', url: event_participation_path(@event, participation),
                                 btn_label: '', size: 'btn-xs', resource: participation %>
                      <%= render 'common/btn_edit', url: edit_event_participation_path(@event, participation),
                                 btn_label: '', size: 'btn-xs', resource: participation %>
                      <%= render 'common/btn_add_tmk', event: @event, with_who: participation.person %>
                  <% end %>
                </td>
              </tr>
          <% end %>
          </tbody>
        </table>
        <% end %>

      </div>
    </div>
<% end %>



<!-- TMKs -->
<% if policy(Tmk).show? %>
<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">TMKs (<%= @event.tmks.count %>)
    </h3>
  </div>
  <div class="panel-body">

    <% if @event.tmks.empty? %>

        Nenhum TMK foi realizado para este evento

    <% else %>

      <table class="table">
          <thead>
              <tr>
                <th>Contactado</th>
                <th>Notas</th>
                <th></th>
              </tr>
          </thead>
          <tbody>
            <% @event.tmks.order('tmks.id DESC').each do |tmk| %>
                <tr>
                    <td class="col-md-3"><%= link_to tmk.with_who.name, tmk.with_who %> </td>
                    <td><em><%= tmk.notes %></em></td>
                    <td class="col-md-1"><%= render 'common/tmk_controls', tmk: tmk %></td>
                </tr>
            <% end %>

          </tbody>
        </table>

    <% end %>

  </div>
</div>
<% end %>


<!-- Anexos -->

<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Anexos
      <div class="pull-right">
        <%= render 'common/btn_add', url: new_asset_path(assetable_id: @event.id,
                                                         assetable_type: 'Event'),
                   size: 'btn-xs',
                   resource: Asset.new %>
      </div>
    </h3>
  </div>
  <div class="panel-body">

    <% if @assets.empty? %>

        Não há anexos

    <% else %>

        <% @assets.each do |asset| %>
            <div>
              <span class="glyphicon glyphicon-file"></span>
              <%= asset.name %> <small>(<%= date_display asset.created_at %>)</small>

              <%= link_to asset.file.url, class: 'btn btn-default btn-xs' do %>
                  <span class="glyphicon glyphicon-download" title="download"></span>
              <% end %>
              <% if policy(@event).edit? %>
                  <%= render 'common/btn_edit', btn_label: '', url: edit_asset_path(asset,
                                                                                    assetable_id: @event.id,
                                                                                    assetable_type: 'Event'),
                             size: 'btn-xs', resource: asset %>
                  <%= render 'common/btn_delete', btn_label: '', url: asset_path(asset,
                                                                                 assetable_id: @event.id,
                                                                                 assetable_type: 'Event'),
                             size: 'btn-xs', resource: asset %>
              <% end %>
            </div>
        <% end %>

    <% end %>

  </div>
</div>

