
<%= render 'common/page_title', titulo: 'Status dos emails para divulgação' %>

<table class="table table-condensed">
  <thead>
    <tr>
      <th>#</th>
      <th>Email</th>
      <th>Status</th>
    </tr>
  </thead>
  <tbody>
    <% count = 1 %>
    <% @people.each do |p| %>
        <tr>
          <td><%= count %></td>
          <td> <%= link_to p.name, p %> &lt;<%= p.email %>&gt; </td>
          <td>
            <% if p.marketing and EmailMktService.subscribed?(p.email) %>
              <%= '<i class="text-success fa fa-check"></i>'.html_safe %>
            <% elsif p.marketing and not EmailMktService.subscribed?(p.email) %>
              <%= '<small><span class="text-danger">não registrado no serviço de mail mkt</span></small>'.html_safe %>
            <% elsif not p.marketing %>
              <%= '<small><span class="text-muted">não deseja receber divulgação</span></small>'.html_safe %>
            <% end %>
          </td>
        </tr>
        <% count += 1 %>
    <% end %>
  </tbody>

</table>
