<% short = local_assigns.fetch :short, false %>

<% @versions.each do |v| %>
    <div>
      <% if v.event == 'update' %>
         <span class="glyphicon glyphicon-edit"></span>
      <% elsif v.event == 'destroy' %>
         <span class="glyphicon glyphicon-remove"></span>
      <% elsif v.event == 'create' %>
          <span class="glyphicon glyphicon-plus-sign"></span>
      <% end %>

      <% resource = v.reify(dup: true) || v.item_type.constantize.find(v.item_id) %>
      <% model_name_human = resource.class.model_name.human %>

      <%= User.find(v.whodunnit).name %> <%= VersionsHelper::event_name_i18n(v.event) %> o(a) <%= model_name_human %>
      <% unless short %>
        <em><%= resource %></em>
      <% end %>
      hรก <%= time_ago_in_words v.created_at %>.
      <% v.changeset.dup.except(:updated_at).each do |k,v| %>
          <div class="text-muted"><small>
            <%= k %>:
            <%= v[0].present? ? "<s>#{v[0]}</s>".html_safe : '<em class=text-muted>&ltvazio&gt</em>'.html_safe %>
             -> <%= v[1].present? ? "<em>#{v[1]}</em>".html_safe : '<em class=text-muted>&ltvazio&gt</em>'.html_safe %>
          </small>
          </div>
      <% end %>
    </div>
    <br/>
<% end %>