<% short = local_assigns.fetch :short, false %>

<% ignore_attrs = %w(updated_at created_at id phonable_id phonable_type addressable_id addressable_type)  %>

<% @versions.each do |v| %>
    <div>
      <% if v.event == 'update' %>
         <span class="glyphicon glyphicon-edit text-info"></span>
      <% elsif v.event == 'destroy' %>
         <span class="glyphicon glyphicon-remove text-danger"></span>
      <% elsif v.event == 'create' %>
          <span class="glyphicon glyphicon-plus-sign text-success"></span>
      <% end %>

      <!-- || v.item_type.constantize.find(v.item_id) -->

      <% resource = v.reify(dup: true) %>
      <% resource_class = v.item_type.constantize %>

      <!-- O que alterou, por quem -->
      <%= v.whodunnit ? User.find(v.whodunnit).name : '<em>Sistema</em>'.html_safe %> <%= VersionsHelper::event_name_i18n(v.event) %>
      <% unless short %>
          o(a) <%= resource_class.model_name.human.downcase %> <%= "<em>#{resource}</em>".html_safe unless resource.nil? %>
      <% end %>

      <!-- Data da alteração -->
      <span class="text-muted pull-right"><%= date_display v.created_at %> <small>(há <%= time_ago_in_words v.created_at %>)</small></span>

      <!-- Atributos alterados -->
      <% v.changeset.dup.except(*ignore_attrs).each do |k,v| %>
          <div class="text-muted"><small>
            <%= resource_class.human_attribute_name(k) %>:
            <%= v[0].present? ? "<s>#{v[0]}</s>".html_safe : '<em class=text-muted>&ltvazio&gt</em>'.html_safe %>
             -> <%= v[1].present? ? "<em>#{v[1]}</em>".html_safe : '<em class=text-muted>&ltvazio&gt</em>'.html_safe %>
          </small>
          </div>
      <% end %>
    </div>
    <hr>

<% end %>