<%= render partial: 'common/titulo_pagina', locals: { titulo: 'Usuários' } %>

<table class="table table-striped">
  <tr>
    <th>uid</th>
    <th>Nome</th>
    <th>Papel</th>
    <th>Provider</th>
    <th>Ações</th>
  </tr>

  <% @usuarios.each do |usuario| %>
      <tr>
        <td><%= usuario.identity_uid %></td>
        <td><%= usuario.name %></td>
        <td><%= usuario.papel %></td>
        <td><%= usuario.provider %></td>
        <td>
          <%= render partial: 'common/btn_editar', locals: { recurso: usuario, size: 'btn-xs' } %>
          <%= render partial: 'common/btn_deletar', locals: { recurso: usuario, size: 'btn-xs' } %>
        </td>
      </tr>
  <% end %>
</table>