
<%= bootstrap_form_for @tmk, layout: :horizontal, label_col: 'col-sm-2', control_col: 'col-sm-6' do |f| %>

    <% if @tmk.errors[:base].present? %>
        <%= f.alert_message 'Favor corrigir o(s) erro(s) abaixo. ' + @tmk.errors[:base][0] %>
    <% else %>
        <%= f.alert_message 'Favor corrigir o(s) erro(s) abaixo.' %>
    <% end %>


    <!-- Contatado -->

    <% if @with_who %>
        <%= hidden_field_tag 'tmk[with_who_id]', @with_who.id %>
        <%= f.static_control nil, label: 'Contatado' do %>
            <%= @with_who.name %>
            <% @with_who.phone_numbers.each do |phone_number| %>
                <span class="label label-primary"><%= phone_display(phone_number) %></span>
            <% end %>
            <% if @with_who.email.present? %>
                <span class="label label-primary"><%= @with_who.email %></span>
            <% end %>
        <% end %>
    <% else %>
        <%= f.collection_select :with_who_id, Person.all.order('name'), :id, :name,
                                control_col: 'col-sm-3',
                                include_blank: true, default: nil %>
    <% end %>


    <!-- Evento -->

    <% if @event %>
        <%= hidden_field_tag 'tmk[event_id]', @event.id %>
        <%= f.static_control nil, label: 'Evento' do %>
            <%= @event.name %>
        <% end %>
    <% else %>
        <%= render 'common/event_select_field', f: f %>
    <% end %>


    <%= f.collection_select :from_who_id, Person.all.order('name'), :id, :name,
                            control_col: 'col-sm-3',
                            selected: @tmk.persisted? ? @tmk.from_who_id : Person.find_by(email: current_user.email).id %>

    <%= f.select :contact_type, Tmk::CONTACT_TYPES, control_col: 'col-sm-3' %>

    <%= f.datetime_select :contact_date, minute_step: 5 %>

    <%= f.text_area :notes, rows: 5,
                    help: 'Sempre que possível, é importante anotar pelos menos 3 aspectos:
                     <ul>
                       <li><strong>Motivação.</strong> Há ou não interesse no curso/evento?</li>
                       <li><strong>Impedimentos.</strong> Se houver interesse, existem impedimentos? Se existem, são temporários?</li>
                       <li><strong>Receptividade.</strong> Existe abertura para futuros contatos?</li>
                     </ul>'.html_safe %>

    <%= f.form_group do %>
        <%= f.submit 'Salvar' %>
        <%= link_to 'Voltar', session[:last_page], class: 'btn btn-link' %>
    <% end %>

<% end %>
