<%= render 'common/page_title', titulo: 'Contatos TMK' %>

<% content_for :actions do %>
    <%= render 'common/btn_new', url: new_tmk_path, resource: Tmk.new, btn_label: 'Novo TMK' %>
<% end %>


<!-- Text field de busca -->

<%= form_tag '/tmks', method: :get do %>
    <div class="input-group">
      <%= text_field_tag 'query', nil, class: 'form-control',
                         placeholder: 'Procurar...',
                         value: @query %>
      <span class="input-group-btn">
          <button class="btn btn-default" type="submit" id="btn-search">
            <span class="glyphicon glyphicon-search"></span>
          </button>

        <%= link_to "<span class=\"glyphicon glyphicon-remove\"></span>".html_safe,
                    tmks_path, class: 'btn btn-default' %>
      </span>
    </div>
<% end %>
<br/>

<!-- Filtro por evento -->

<div class="dropdown">
<button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-expanded="true">
  Filtrar por evento
  <span class="caret"></span>
</button>
<ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
  <% Event.all.each do |event| %>
      <li role="presentation">
        <%= link_to event.name_with_date, tmks_path(params.merge(event_id: event.id)) %>
      </li>
  <% end %>
</ul>
</div>

<% if params[:event_id].present? %>
    <br>
    Mostrando contatos TMK do evento <%= link_to @event.name, event_path(@event) %> |
    <%= link_to 'Mostrar todos os eventos', tmks_path %>
    <br>
<% end %>

<br>

<!-- Listagem de TMKs -->

<table class="table">
  <tr>
    <th>Contactado</th>
    <th>Notas</th>
    <th></th>
  </tr>

  <% @tmks.order('tmks.contact_date DESC').each do |tmk| %>
      <tr>
        <td class="col-md-4">
          <%= link_to tmk.with_who.name, person_path(tmk.with_who) %>
          <% unless params[:event_id].present? %>
            sobre evento
            <%= link_to tmk.event.name_with_date, event_path(tmk.event) %>
          <% end  %>
          <br>
        </td>
        <td>
          <%= tmk_annotation(tmk) %>
        </td>
        <td>
            <%= render 'common/btn_edit', resource: tmk, size: 'btn-xs', btn_label: '' %>
            <%= render 'common/btn_delete', resource: tmk, size: 'btn-xs', btn_label: '' %>
        </td>
      </tr>
  <% end %>
</table>
<%= paginate @tmks, entry_name: 'pessoas' %>