<%= render 'common/page_title', titulo: 'Contatos TMK' %>

<% content_for :actions do %>
    <%= render 'common/btn_add', url: new_tmk_path, resource: Tmk.new %>
<% end %>

<%= form_tag '/tmks', method: :get do %>
    <div class="input-group">
      <%= text_field_tag 'query', nil, class: 'form-control',
                         placeholder: 'Procurar...',
                         value: @query %>
      <span class="input-group-btn">
          <button class="btn btn-default" type="submit" id="btn-search">
            <span class="glyphicon glyphicon-search"></span>
          </button>

        <%= link_to "<span class=\"glyphicon glyphicon-remove\"></span>".html_safe,
                    tmks_path, class: 'btn btn-default' %>
      </span>
    </div>
<% end %>
<br/>

<table class="table table-striped">
  <tr>
    <th>Contatado</th>
    <th>Evento</th>
    <th>Notas</th>
    <th>Tipo de contato</th>
    <th>Quem fez contato</th>
    <th>Quando</th>
    <th>Ações</th>
  </tr>

  <% @tmks.each do |tmk| %>
      <tr>
        <td><%= link_to tmk.with_who.name, person_path(tmk.with_who) %></td>
        <td><%= link_to tmk.event.name, event_path(tmk.event) %></td>
        <td><%= tmk.notes %></td>
        <td><%= tmk.contact_type %></td>
        <td><%= tmk.from_who.name %></td>
        <td><%= date_display tmk.when %></td>
        <td><%= render 'common/btn_edit', resource: tmk,
                                                               size: 'btn-xs', btn_label: '' %>
          <%= render 'common/btn_delete', resource: tmk,
                                                              size: 'btn-xs', btn_label: '' %>
        </td>
      </tr>
  <% end %>
</table>
<%= paginate @tmks, entry_name: 'pessoas' %>