<%= render 'common/page_title', titulo: 'Contatos TMK' %>

<% content_for :actions do %>
    <%= render 'common/btn_add', url: new_tmk_path, resource: Tmk.new %>
<% end %>


<!-- Text field de busca -->

<%= form_tag '/tmks', method: :get do %>
    <div class="input-group">
      <%= text_field_tag 'query', nil, class: 'form-control',
                         placeholder: 'Procurar...',
                         value: @query %>
      <span class="input-group-btn">
          <button class="btn btn-default" type="submit" id="btn-search">
            <span class="glyphicon glyphicon-search"></span>
          </button>

        <%= link_to "<span class=\"glyphicon glyphicon-remove\"></span>".html_safe,
                    tmks_path, class: 'btn btn-default' %>
      </span>
    </div>
<% end %>
<br/>

<!-- Filtro por evento -->

<div class="dropdown">
<button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-expanded="true">
  Filtrar por evento
  <span class="caret"></span>
</button>
<ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
  <% Event.all.order(start: :desc).each do |event| %>
      <li role="presentation">
        <%= link_to event.name_with_date, tmks_path(params.merge(event_id: event.id)) %>
      </li>
  <% end %>
</ul>
</div>

<% if params[:event_id].present? %>
    <br>
    Mostrando contatos TMK do evento <%= link_to @event.name, event_path(@event) %> |
    <%= link_to 'Mostrar todos os eventos', tmks_path %>
    <br>
<% end %>

<br>

<!-- Listagem de TMKs -->

<table class="table">
  <tr>
    <th>Contactado</th>
    <th>Notas</th>
    <th></th>
  </tr>

  <% @tmks.each do |tmk| %>
      <% participation = Participation.find_by(event: tmk.event, person: tmk.with_who) %>
      <tr>
        <td class="col-md-4">
          <%= link_to tmk.with_who.name, person_path(tmk.with_who) %>
          <% unless params[:event_id].present? %>
            sobre evento
            <%= link_to tmk.event.name_with_date, event_path(tmk.event) %>
          <% end  %>
          <br>
          <%= "<strong>#{participation.status_gender_aware.humanize}</strong>".html_safe if participation %>
          <% if participation %>
            <small>
              (<%= link_to 'editar', edit_event_participation_path(tmk.event, participation) %>
              ou
              <%= link_to 'remover', event_participation_path(tmk.event, participation), method: :delete,
                        data: { confirm: "Você tem certeza que deseja deletar participação de \"#{participation.person.name}\"?" } %>
              participação)
            </small>
          <% else %>
              <small>
                (<%= link_to 'adicionar', new_event_participation_path(tmk.event, person_id: tmk.with_who.id) %> participação)
              </small>
          <% end %>
        </td>
        <td><em><%= tmk.notes %></em></td>
        <td class="col-md-1"><%= render 'common/tmk_controls', tmk: tmk %></td>
      </tr>
  <% end %>
</table>
<%= paginate @tmks, entry_name: 'pessoas' %>