
<%= render 'common/page_title', titulo: 'Atividades' %>

<% content_for :actions do %>
    <%= render 'common/btn_new', url: new_activity_path, resource: Activity.new, btn_label: 'Nova atividade' %>
<% end %>


<% @parent_activities.each do |parent_activity| %>
  <div class="row">
    <div class="col-12">
      <h3><%= parent_activity.name %>
        <small><%= link_to fa_icon('angle-double-right', text: 'saiba mais', right: true), activity_path(parent_activity) %></small>
      </h3>
      <br>
    </div>
  </div>

  <div class="row">
    <% parent_activity.children.order(:name).each do |activity| %>
      <div class="col-4">
        <%= render 'common/activity_summary', activity: activity %>
      </div>
    <% end %>
  </div>
  <br>
<% end %>



<div class="row">
  <div class="col-12">
    <h3>Outras atividades</h3>
    <br>
  </div>

</div>

<div class="row">
  <% @orphan_activities.order(:name).each do |activity| %>
      <div class="col-4">
        <%= render 'common/activity_summary', activity: activity %>
      </div>
  <% end %>
</div>

