<% title = @activity.name %>

<% if @activity.parent.present? %>
    <% sub_title = 'Parte do(a) ' + link_to(@activity.parent.name, activity_path(@activity.parent)) %>
<% end %>
<% if @activity.internal_only %>
    <% title += ' <small><span class="label label-primary">interno</small>' %>
<% end %>

<!--

    Corpo

-->
<div class="row">

    <div class="col-8">
        <%= render 'common/page_title', titulo: title.html_safe, sub_title: sub_title %>

        <% content_for :actions do %>
            <%= render 'btn_actions' %>
        <% end %>

        <br>
        <div class="lead">
          <%= @activity.summary %>
        </div>
    </div>

    <div class="col-4">
      <% if @activity.avatar.attached? %>
        <%= image_tag @activity.avatar.variant(resize: '350x170'), class: 'rounded' %>
      <% end %>
    </div>

</div>

<br>
<hr class="featurette-divider">
<br>


<div class="row">

    <div class="col-8">
      <!-- Caso esta atividade não tenha descrição, pegar descrição da atividade pai, se existir -->
      <% if @activity.description.blank? and @activity.parent.present? and @activity.parent.description.present? %>
        <div class="text-muted"><em>Descrição da atividade <%= @activity.parent.name %>:</em></div>
        <br/>
        <%= @activity.parent.description.html_safe %>
      <% end %>
      <%= @activity.description.html_safe %>
    </div>

  <!--

   Lateral direita

  -->

  <div class="col-4">


    <% if @activity.children.any? %>
      <div class="card">
        <h4 class="card-title">Atividades integrantes</h4>
        <p class="card-body">
          <% @activity.children.order(:name).each do |child_activity| %>
            <div><%= link_to child_activity.name, activity_path(child_activity) %></div>
          <% end %>
        </p>
    <% end %>


    <!-- Eventos (ou ocorrências desta atividade) -->
    <div class="card">
      <h4 class="card-header">Eventos</h4>
      <div class="card-body">
        <div class="card-text">
          <% if @past_events.empty? and @future_events.empty? %>

              Não existem eventos para esta atividade

          <% else %>

            <h5>Próximos</h5>
            <% if @future_events.empty? %>

                Não existem eventos agendados para esta atividade<br>

            <% else %>

                <% @future_events.each do |event| %>
                    <div>
                      <%= link_to event.name, event_path(event) %>
                      <small class="text-muted">
                        <% if event.start.to_date == event.finish.to_date %>
                            <%= I18n.l event.start.to_date %>
                        <% else %>
                            <%= I18n.l event.start.to_date %> a <%= I18n.l event.finish.to_date %>
                        <% end %>
                      </small>
                    </div>
                <% end %>

            <% end %>

            <br>

            <h5>Passados</h5>

            <% if @past_events.empty? %>

                Ainda não aconteceram eventos desta atividade<br>

            <% else %>

                <% @past_events.each do |event| %>
                    <div>
                      <%= link_to event.name, event_path(event) %>
                      <small class="text-muted">
                        <% if event.start.to_date == event.finish.to_date %>
                            <%= I18n.l event.start.to_date %>
                        <% else %>
                            <%= I18n.l event.start.to_date %> a <%= I18n.l event.finish.to_date %>
                        <% end %>
                      </small>
                    </div>
                <% end %>

            <% end %>

          <% end %>
        </div>
      </div>
    </div>

  </div>

</div>

</div>