<% title = "<em>#{@activity.activity_type}</em> #{@activity.name}" %>
<% if @activity.parent.present? %>
    <% parent = @activity.parent %>
    <% sub_title = 'Parte do(a) ' + link_to("#{parent.activity_type} #{parent.name}", activity_path(parent)) %>
<% end %>
<% if @activity.internal_only %>
    <% title += ' <small><span class="label label-primary">interno</small>' %>
<% end %>

<!--

    Corpo

-->
<div class="row">

<div class="col-xs-8">

    <%= render 'common/page_title', titulo: title.html_safe, sub_title: sub_title %>

    <% content_for :actions do %>
      <%= render 'common/btn_edit', resource: @activity %>
      <%= render 'common/btn_delete', resource: @activity %>
    <% end %>

    <br>

    <div class="lead">
      <%= @activity.summary.html_safe %>
    </div>

    <div>
      <!-- Caso esta atividade não tenha descrição, pegar descrição da atividade pai, se existir -->
      <% if @activity.description.blank? and @activity.parent.present? and @activity.parent.description.present? %>
        <div class="text-muted"><em>Descrição da atividade <%= @activity.parent.name %>:</em></div>
        <br/>
        <%= @activity.parent.description.html_safe %>
      <% end %>
      <%= @activity.description.html_safe %>
    </div>

</div>


<!--

   Lateral

-->

<div class="col-xs-4">


    <% if @activity.children.any? %>
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Atividades integrantes</h3>
        </div>
        <div class="panel-body">
          <% @activity.children.order(:name).each do |child_activity| %>
            <div><%= link_to child_activity.name, activity_path(child_activity) %></div>
          <% end %>
        </div>
      </div>
    <% end %>


    <!-- Eventos (ou ocorrências desta atividade) -->
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Eventos</h3>
      </div>
      <div class="panel-body">
          <% if @past_events.empty? and @future_events.empty? %>

              Não existem eventos para esta atividade

          <% else %>

            <h5>Próximos</h5>
            <% if @future_events.empty? %>

                Não existem eventos agendados para esta atividade<br>

            <% else %>

                <% @future_events.each do |event| %>
                    <div>
                      <%= link_to event.name, event_path(event) %>
                      <small class="text-muted">
                        <% if event.start.to_date == event.finish.to_date %>
                            <%= I18n.l event.start.to_date %>
                        <% else %>
                            <%= I18n.l event.start.to_date %> a <%= I18n.l event.finish.to_date %>
                        <% end %>
                      </small>
                    </div>
                <% end %>

            <% end %>

            <br>

            <h5>Passados</h5>

            <% if @past_events.empty? %>

                Ainda não aconteceram eventos desta atividade<br>

            <% else %>

                <% @past_events.each do |event| %>
                    <div>
                      <%= link_to event.name, event_path(event) %>
                      <small class="text-muted">
                        <% if event.start.to_date == event.finish.to_date %>
                            <%= I18n.l event.start.to_date %>
                        <% else %>
                            <%= I18n.l event.start.to_date %> a <%= I18n.l event.finish.to_date %>
                        <% end %>
                      </small>
                    </div>
                <% end %>

            <% end %>

          <% end %>
      </div>
    </div>

</div>
</div>
