<% title = "<em>#{@activity.name}</em>" %>
<% sub_title = [] %>
<% if @activity.parent.present? %>
    <% sub_title.append "Parte do(a) #{@activity.parent.name}" %>
<% end %>
<% if @activity.internal_only %>
    <% sub_title.append 'Restrita a voluntários' %>
<% end %>

<%= render 'common/page_title', titulo: title.html_safe, sub_title: sub_title.join(' | ') %>

<% content_for :actions do %>
    <%= render 'common/btn_edit', resource: @activity %>
    <%= render 'common/btn_delete', resource: @activity %>
<% end %>

<br/>
<p class="lead">
  <%= @activity.summary %>
</p>

<div>
  <!-- Caso esta atividade não tenha descrição, pegar descrição da atividade pai, se existir -->
  <% if @activity.description.blank? and @activity.parent.present? and @activity.parent.description.present? %>
    <div class="text-muted"><em>Descrição da atividade <%= @activity.parent.name %>:</em></div>
    <br/>
    <%= @activity.parent.description.html_safe %>
  <% end %>
  <%= @activity.description.html_safe %>
</div>

<br/>

<% if @activity.children.any? %>
    <div class="well">
      <h4>Atividades relacionadas</h4>
      <% @activity.children.each do |child_activity| %>
        <div><%= link_to child_activity.name, activity_path(child_activity) %>
          <small class="text-muted"><%= child_activity.summary %></small>
        </div>
      <% end %>
    </div>
<% end %>


<!-- Eventos (ou ocorrências desta atividade) -->
<div class="well">
  <div class="row">
    <div class="col-lg-6">
      <h4>Eventos relacionados</h4>
    </div>
    <div class="col-lg-6">
      <h4><!-- O hX deve ser o mesmo do titulo da pagina para os dois ficarem alinhados horizontalmente-->
        <div class="pull-right">
          <%= render 'common/btn_add', url: new_event_path(activity_id: @activity.id), size: 'btn-sm', resource: Event.new %>
        </div>
      </h4>
    </div>
  </div>
  <br/>

  <% if @events.empty? %>
      <div class="text-muted">Não existem eventos relacionados</div>
  <% else %>
      <table class="table table-striped table-condensed">
        <tr>
          <th></th>
          <th>Início</th>
          <th>Fim</th>
          <th>Participantes</th>
        </tr>
        <% @events.each do |event| %>
            <tr>
              <td><%= link_to event.name, event_path(event) %></td>
              <td><%= date_display event.start %></td>
              <td><%= date_display event.finish %></td>
              <td><%= event.participations.count %></td>
            </tr>
        <% end %>
      </table>
  <% end %>
</div>