<% person = local_assigns.fetch :person, nil %>
<% text = local_assigns.fetch :text, '' %>

<div class="text-center">
    <%= image_tag person.avatar.url(:medium), class: 'rounded-circle' %>
    <h4><%= person.name %></h4>
    <h5 class="text-muted">Aluno</h5>
    <br>
    <p class="lead"><%= fa_icon('quote-left')%> <em><%= text %></em> <%= fa_icon('quote-right')%></p>
</div>