
<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
    <li data-target="#carousel-example-generic" data-slide-to="2"></li>
    <li data-target="#carousel-example-generic" data-slide-to="3"></li>
    <li data-target="#carousel-example-generic" data-slide-to="4"></li>
    <li data-target="#carousel-example-generic" data-slide-to="5"></li>
  </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner" role="listbox">
    <div class="item active">
      <%= image_tag 'slides_recons-01.jpg', style: 'max-width:100%; max-height:100%;' %>
    </div>
    <div class="item">
      <%= image_tag 'slides_recons-02.jpg', style: 'max-width:100%; max-height:100%;' %>
    </div>
    <div class="item">
      <%= image_tag 'slides_recons-03.jpg', style: 'max-width:100%; max-height:100%;' %>
    </div>
    <div class="item">
      <%= image_tag 'slides_recons-04.jpg', style: 'max-width:100%; max-height:100%;' %>
    </div>
    <div class="item">
      <%= image_tag 'slides_recons-05.jpg', style: 'max-width:100%; max-height:100%;' %>
    </div>
    <div class="item">
      <%= image_tag 'slides_recons-06.jpg', style: 'max-width:100%; max-height:100%;' %>
    </div>
  </div>

</div>




<br><br><br>
<p>
  A Associação Internacional de Pesquisologia para Megaconscientização (Reconscientia) é uma Instituição Conscienciocêntrica,
  sem fins de lucro, apartidária, de caráter científico, pesquisístico e educacional, fundada em 02 de julho de 2011.
  Visa contribuir para a cultura da cientificidade parapsíquica e pesquisística, através das especialidades Pesquisologia,
  Parametodologia e Parepistemologia, realizando a formação de pesquisadores multidimensionais, promovendo intercâmbio de pesquisas,
  ministrando palestras, cursos, programas de iniciação paracientífica e de apoio às pesquisas e aos pesquisadores
  através de atividades e eventos às consciências interessadas nas realidades multidimensionais. Seu materpensene é a
  autoconscientização multidimensional via pesquisa.
</p>
