
  <div class="jumbotron text-center">
    <%= image_tag 'logo-cor-transparente.png' %>
    <h2>Associação Internacional de Pesquisologia <br> para Megaconscientização</h2>
    <p>Autoconscientização via pesquisa </p>
    <br>
    <p><%= link_to "Saiba Mais #{fa_icon('angle-right')}".html_safe, about_path, class: 'btn btn-default btn-lg' %></p>
  </div>


  <!-- Atividades em destaque -->

  <div class="container">

    <h1 class="text-center">Atividades em destaque</h1>
    <h4 class="text-center">Ver <%= link_to 'agenda', events_path %>
      ou <%= link_to 'atividades', activities_path %>
    </h4>


    <br><br>
    <div class="row">
        <% @activities.each do |activity| %>
            <div class="col-sm-6 col-md-4">
              <%= render 'common/activity_summary', activity: activity %>
            </div>
        <% end %>
    </div>

  </div>


  <br><br>


  <!-- Depoimentos -->

  <!--
  <h1 class="text-center">Depoimentos</h1>

  <br><br>

  <div role="tabpanel" class="text-center">


    <div class="tab-content text-center">

      <div role="tabpanel" class="tab-pane fade in active" id="home">
        <div class="row">
          <div class="col-lg-offset-3 col-lg-6">
            <% #render 'testimonial', person: Person.find(1), text: 'Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod. Nullam id dolor id nibh ultricies vehicula ut id elit. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Praesent commodo cursus magna.' %>
          </div>
        </div>
      </div>

      <div role="tabpanel" class="tab-pane fade" id="profile">
        <div class="row">
          <div class="col-lg-offset-3 col-lg-6">
            <% #render 'testimonial', person: Person.find(1), text: 'Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod. Nullam id dolor id nibh ultricies vehicula ut id elit. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Praesent commodo cursus magna.' %>
          </div>
        </div>
      </div>

      <div role="tabpanel" class="tab-pane fade" id="messages">
        <div class="row">
          <div class="col-lg-offset-3 col-lg-6">
            <% #render 'testimonial', person: Person.find(1), text: 'Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod. Nullam id dolor id nibh ultricies vehicula ut id elit. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Praesent commodo cursus magna.' %>
          </div>
        </div>
      </div>

    </div>

    <br>

    <ul class="nav nav-pills center-pills" role="tablist">
      <li role="presentation" class="active"><a href="#home" aria-controls="home" role="tab" data-toggle="tab">Gustavo</a></li>
      <li role="presentation"><a href="#profile" aria-controls="profile" role="tab" data-toggle="tab">Rodrigo</a></li>
      <li role="presentation"><a href="#messages" aria-controls="messages" role="tab" data-toggle="tab">João</a></li>
    </ul>

  </div>

-->

