
<div class='row'>

  <div class="well col-lg-6 tasks-box">
    <h4>Próximos eventos
      <div class="pull-right">
        <%= render 'common/btn_calendar', size: 'btn-xs' %>
      </div>
    </h4>
    <% @events.each do |event| %>
      <div><%= link_to event.name, event_path(event) %> <small>começa em <%= time_ago_in_words event.start %></small></div>
    <% end %>
  </div>

  <% if @next_event %>
      <div class="well col-lg-5 tasks-box">
        <h4><%= link_to @next_event.name, event_path(@next_event) %> <small>participantes</small></h4>
        <% @next_event.participations.each do |participant| %>
            <div><%= participant.person.name %>
              <small>foi <%= participant.status_gender_aware.downcase %> a <%= time_ago_in_words participant.updated_at %></small>
            </div>
        <% end %>
      </div>
  <% end %>

  <% if @tmks %>
      <div class="well col-lg-5 tasks-box">
        <h4>Últimos <%= link_to 'TMKs', tmks_path %></h4>
        <% @tmks.each do |tmk| %>
            <div><%= tmk.with_who.name %> para o evento <%= tmk.event.name %>
              <small> a <%= time_ago_in_words tmk.contact_date %></small>
            </div>
        <% end %>
      </div>
  <% end %>

</div>

