
<!--

Mostra informações sobre uma atividade e destaca/mostra quando ela ocorrerá (ou não), ou seja
 tem link com evento

-->

<% activity = local_assigns.fetch :activity, nil %>
<% next_event = activity.next_event %>


<div class="card" style="height: 350px;width: 18rem;">

  <div class="card-body">
    <h5 class="card-title">
      <%= link_to activity.name, activity_path(activity) %> <%= '<small><span class="label label-primary">interno</small>'.html_safe if activity.internal_only %>
    </h5>
    <p class="card-text">
      <%= activity.summary %>
      <!-- por ora desabilitado... -->
      <% if next_event and false %>
        <%= fa_icon 'clock-o' %> Começa em <%= time_ago_in_words next_event.start %>
      <% end %>
    </p>
  </div>

</div>
