<% form_id = f.index + 1 %>

<div class="form-group">
  <label class="col-sm-2 control-label">Endereço #<%= form_id %></label>
  <div class="col-sm-7">
    <%= f.text_field :line1, placeholder: 'Endereço', id: "line1_#{form_id}", hide_label: true %>
    <%= f.text_field :city, placeholder: 'Cidade', id: "city_#{form_id}", control_col: 'col-sm-3', hide_label: true %>
    <%= f.text_field :zip, placeholder: 'CEP', id: "zip_#{form_id}", control_col: 'col-sm-2', hide_label: true %>
    <%= f.form_group :state_code, hide_label: true, control_col: 'col-sm-3' do %>
        <%= f.subregion_select :state_code, 'BR', { priority: %w(PR), include_blank: true }, class: 'form-control', id: "state_code_#{form_id}" %>
    <% end %>
    <%= f.form_group :country_code, hide_label: true, control_col: 'col-sm-3' do %>
        <%= f.country_select :country_code, { priority: %w(BR), include_blank: true }, class: 'form-control', id: "country_code_#{form_id}" %>
    <% end %>
  </div>
</div>