<% events = local_assigns.fetch :events, [] %>


<table class="table table-striped">
  <thead>
  <tr>
    <th scope="col"></th>
    <th scope="col"></th>
    <% if policy(Event).archive? %>
        <th scope="col" class="text-center">Arquivado?</th>
    <% end %>
    <% if policy(Participation).show? %>
        <th scope="col" class="text-center">Presenças</th>
        <th scope="col" class="text-center">Presenças acumuladas</th>
    <% end %>
  </tr>
  </thead>
  <tbody>
  <% part_count = 0 %>
  <% events.each do |event| %>

      <% if event.start.day == event.finish.day %>
          <% date_str = I18n.l event.start, format: '%e %b' %>
      <% elsif event.start.month == event.finish.month %>
          <% date_str = "#{I18n.l event.start, format: '%e'} a #{I18n.l event.finish, format: '%e %b'}" %>
      <% else %>
          <% date_str = "#{I18n.l event.start, format: '%e %b'} a #{I18n.l event.finish, format: '%e %b'}" %>
      <% end %>

      <tr>
        <td class="w-1"><em><%= date_str %></em></td>
        <td class="w-4">
          <%= link_to event.name, event_path(event) %>
          <%= '<span class="badge badge-primary">interno</span>'.html_safe if event.activity.internal_only %>
        </td>
        <% if policy(Event).archive? %>
            <td class="text-center w-1">
              <% if event.archived %>
                  <i class="text-success fa fa-check"></i>
              <% else %>
                  <i class="text-danger fa fa-minus"></i>
              <% end %>
            </td>
        <% end %>
        <% if policy(Participation).show? %>
            <td class="text-center w-1">
              <strong><%= part_num = event.participations.
                                                    where(status: Participation.statuses[:enrolled]).
                                                    where(attendance: [Participation.attendances[:present],
                                                                       Participation.attendances[:part_time]]).size; part_num %>
              </strong>
            </td>
            <td class="text-center w-1"><%= part_count += part_num; part_count %></td>
        <% end %>
      </tr>
  <% end %>
  </tbody>
</table>