<% form_id = f.index + 1 %>

<div class="form-group tel-fieldset">
  <label class="col-sm-2 control-label">Telefone</label>
  <div class="col-sm-7">
    <div class="form-inline">
      <div class="form-group">
        <%= f.select :phone_type, PhoneNumber::PHONE_TYPES, include_blank: true, hide_label: true %>
        <%= f.select :provider, PhoneNumber::PROVIDERS, include_blank: true, control_col: 'col-sm-3',id: "provider_#{form_id}",  hide_label: true %>
        <!-- O número de telefone é armazenado normalizado no banco (por conta da gem phony)
        portanto aqui mostramos um formato amigável ao usuário, caso já existe dado salvo no banco -->
        <% if f.object.number %>
            <%= f.text_field :number, value: f.object.number.phony_formatted, id: "number_#{form_id}", hide_label: true %>
        <% else  %>
            <%= f.text_field :number, placeholder: 'Número', id: "number_#{form_id}", hide_label: true %>
        <% end %>
        <%= f.hidden_field :_destroy %>
        <%= link_to 'remover', '#', class: 'remove_fields' %>
      </div>
    </div>
  </div>
</div>