<% form_id = f.index + 1 %>

<div class="form-group form-inline tel-fieldset">
    <label class="col-sm-2 control-label">Telefone</label>
    <%= f.select :phone_type, PhoneNumber::PHONE_TYPES, include_blank: true, hide_label: true %>
    <%= f.select :provider, PhoneNumber::PROVIDERS, include_blank: true, control_col: 'col-sm-3',id: "provider_#{form_id}",  hide_label: true %>
    <!-- O número de telefone é armazenado normalizado no banco (por conta da gem phony)
    portanto aqui mostramos um formato amigável ao usuário -->
    <% if f.object.number %>
        <%= f.text_field :number, value: f.object.number.phony_formatted, id: "number_#{form_id}", hide_label: true,
                         size: 25 %>
    <% else  %>
        <%= f.text_field :number, placeholder: '<DDD sem zero> <número>', id: "number_#{form_id}", hide_label: true,
                         size: 25 %>
    <% end %>
    <%= f.hidden_field :_destroy %>
    <%= link_to '<i class="fa fa-times"></i>'.html_safe,
              '#', class: 'remove_fields btn btn-danger btn-xs' %>
</div>