<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" charset="UTF-8">
  <title>CIT - INFOCONS</title>
  <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  <%= favicon_link_tag %>
</head>
<body>

    <!-- Navbar -->
    <nav class="navbar navbar-default navbar-custom navbar-fixed-top" role="navigation">
      <div class="container-fluid">
        <div class="navbar-header">

          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#recons-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>

          <a class="navbar-brand" href="<%= root_path %>">
            <%= image_tag 'cit-logo.png', style: 'max-width:100%; max-height:100%;', alt: 'CIT' %>
          </a>
        </div>

        <div class="collapse navbar-collapse" id="recons-navbar-collapse-1">

          <ul class="nav navbar-nav">
            <%= render 'common/menu/activities_menu' %>
            <%= render 'common/menu/agenda_menu' %>
            <% if policy(Tmk).show? %>
              <%= render 'common/menu/marketing_menu' %>
            <% end %>
            <% if policy(Person).show? %>
              <%= render 'common/menu/people_menu' %>
            <% end %>
            <%= render 'common/menu/about_menu' %>
            <% if current_user and current_user.is_admin? %>
              <%= render 'common/menu/admin_menu' %>
            <% end %>
          </ul>
          <ul class="nav navbar-nav pull-right">
            <li>
              <a style="padding: 11px;" href="https://facebook.com/Reconscientia" target="_blank"><%= fa_icon 'facebook-official 2x' %></a>
            </li>
            <% if is_volunteer? current_user %>
                <%= render 'common/menu/help_menu' %>
            <% end %>
            <%= render 'common/menu/user_menu' %>
          </ul>

        </div> <!-- /.navbar-collapse -->

      </div><!-- /.container-fluid -->

    </nav>


    <% if current_page?(root_path) %>

        <div class="container-fluid">
          <%= yield %>
        </div>

    <% else %>

        <!-- Actual content -->
        <div class="container">

          <div class="row">
            <div class="col-lg-12">
              <%= render 'common/flash_msgs' %>
            </div>
          </div>

          <div class="row vertical-align">
            <div class="col-lg-8">
              <%= yield :back_link %>
              <%= yield :page_title %>
            </div>
            <div class="col-lg-4">
              <div class="pull-right">
                <%= yield :actions %>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-lg-12"><%= yield %></div>
          </div>

        </div>

    <% end %>

</body>


<footer class="recons-footer">
  <div class="container">

    <div class="row">

      <div class="col-md-3">
        <%= image_tag 'cit-logo-branca.png', style: 'max-width:100%; max-height:100%;' %>
      </div>

      <div class="col-md-5">
        <address>
          Av. Felipe Wandscheer, 6.200, sala 105, Cognópolis, Foz do Iguaçu, Paraná, Brasil
          Discernimentum, Cognópolis<br>
          Foz do Iguaçu - PR, Brasil, CEP: 85856-530
        </address>
      </div>

      <div class="col-md-4">
        <p><%= fa_icon 'envelope' %> <strong>e-mail: cit@unicin.org</strong></p>
        <p><%= fa_icon 'whatsapp' %> <strong>(88) 8888-8888</strong></p>
      </div>

    </div>

  </div>

</footer>

</html>
