<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" charset="UTF-8">
  <title>Reconscientia</title>
  <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  <%= favicon_link_tag %>
</head>
<body>

    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar-custom fixed-top">

      <a class="navbar-brand" href="<%= root_path %>">
        <%= image_tag 'reconscientia.png', alt: 'Brand', width: "180" %>
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="recons-navbar-collapse-1">

        <ul class="navbar-nav mr-auto">
          <%= link_to 'Atividades', activities_path , class: "nav-item nav-link #{active_class('/activities')}" %>
          <%= link_to 'Agenda', events_path , class: "nav-item nav-link #{active_class('/events')}" %>

          <!-- <marketing menu> -->
          <% if policy(Tmk).show? %>
            <li class="nav-item dropdown <%= 'active' if active_class('/marketing') or active_class('/tmks') %>">
              <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Divulgação <span class="caret"></span>
              </a>
              <div class="dropdown-menu">
                <%= link_to 'TMK', tmks_path , class: 'dropdown-item' %>
                <%= link_to 'Email marketing', marketing_path, class: 'dropdown-item' %>
              </div>
            </li>
          <% end %>
          <!-- </marketing menu> -->

          <!-- <people menu> -->
          <% if policy(Person).show? %>
            <li class="nav-item dropdown <%= 'active' if active_class('/people') or active_class('/volunteers') %>">
              <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Cadastro <span class="caret"></span>
              </a>
              <div class="dropdown-menu" >
                <%= link_to 'Pessoas', people_path, class: 'dropdown-item' %>
                <%= link_to 'Voluntários', volunteers_path, class: 'dropdown-item' %>
              </div>
            </li>
          <% end %>
          <!-- </people menu> -->


          <!-- <about menu> -->
          <li class="nav-item dropdown <%= active_class('/inventoriology') %>">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Instituição <span class="caret"></span>
            </a>
            <div class="dropdown-menu" >
              <%= link_to 'Sobre', about_path, class: 'dropdown-item' %>
              <% if policy(:inventoriology).show? %>
                <%= link_to 'Inventariologia', inventoriology_path, class: 'dropdown-item' %>
              <% end %>
            </div>
          </li>
          <!-- </about menu> -->

          <!-- <admin menu> -->
          <% if current_user and current_user.is_admin? %>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Admin <span class="caret"></span>
              </a>
              <div class="dropdown-menu" >
                <%= link_to 'Usuários', users_path, class: 'dropdown-item' %>
                <%= link_to 'Alterações no site', versions_path, class: 'dropdown-item' %>
              </div>
            </li>
          <% end %>
          <!-- </admin menu> -->
        </ul>



        <!-- PARTE DIREITA -->

        <ul class="navbar-nav my-2">
          <!-- Facebook icon -->
          <a style="padding: 11px;" href="https://facebook.com/Reconscientia" target="_blank" class="nav-item nav-link"><%= fa_icon 'facebook-official' %></a>


          <% if is_volunteer? current_user %>
            <%= link_to 'Ajuda', help_path , class: "nav-item nav-link #{active_class('/help')}" %>
          <% end %>

          <!-- User menu BEGIN -->
          <% if user_signed_in? %>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <%= current_user.name %> <b class="caret"></b>
              </a>
              <div class="dropdown-menu">
                <%= link_to 'Editar conta', edit_user_registration_path, class: 'dropdown-item' %>
                <div class="dropdown-divider"></div>
                <%= link_to 'Sair', destroy_user_session_path, :method =>'delete', class: 'dropdown-item' %>
              </div>
            </li>
          <% else %>
            <%= link_to 'Entrar', new_user_session_path, class: 'nav-item nav-link' %>
            <!-- FIXME: solução temporária para não deixar qualquer um criar conta -->
            <% if current_user and current_user.is_admin? %>
              <%= link_to 'Criar conta', new_user_registration_path, class: 'nav-item nav-link' %>
            <% end %>
          <% end %>
          <!-- User menu END -->
        </ul>



      </div> <!-- /.navbar-collapse -->

    </nav>


    <% if current_page?(root_path) %>

        <div class="container-fluid">
          <%= yield %>
        </div>

    <% else %>

        <!-- Actual content -->
        <div class="container">

          <div class="row">
            <div class="col-12">
              <%= render 'common/flash_msgs' %>
            </div>
          </div>

          <div class="row vertical-align">
            <div class="col-8">
              <%= yield :back_link %>
              <%= yield :page_title %>
            </div>
            <div class="col-4">
              <div class="float-right">
                <%= yield :actions %>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-12"><%= yield %></div>
          </div>

        </div>

    <% end %>

</body>


<footer class="recons-footer">
  <div class="container">

    <div class="row">

      <div class="col-3">
        <%= image_tag 'logo-cor-transparente.png', style: 'max-width:100%; max-height:100%;' %>
      </div>

      <div class="col-5">
        <address>
          Rua Rui Barbosa, 820 - sala 601<br>
          Edifício Foz Executive Center, Centro<br>
          Foz do Iguaçu - PR, Brasil, CEP: 85851-170
        </address>
      </div>

      <div class="col-4">
        <p><%= fa_icon 'envelope' %> <strong>e-mail: reconscientia@reconscientia.org</strong></p>
        <p><%= fa_icon 'facebook-official' %> <strong>facebook.com/Reconscientia</strong></p>
        <p><%= fa_icon 'whatsapp' %> <strong>(45) 99993-2000</strong></p>
      </div>

    </div>

  </div>

</footer>

</html>
