<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" charset="UTF-8">
  <title>Reconscientia</title>
  <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>

</head>
<body>

    <!-- Navbar -->
    <nav class="navbar navbar-default navbar-custom navbar-fixed-top" role="navigation">
      <div class="container">
        <a href="<%= root_path %>" class="navbar-brand">Reconscientia</a>
        <ul class="nav navbar-nav">
          <%= render 'common/menu/activities_menu' %>
          <%= render 'common/menu/agenda_menu' %>
          <% if policy(Tmk).show? %>
            <%= render 'common/menu/marketing_menu' %>
          <% end %>
          <% if policy(Person).show? %>
            <%= render 'common/menu/people_menu' %>
          <% end %>
          <%= render 'common/menu/about_menu' %>
          <% if current_user and current_user.is_admin? %>
            <%= render 'common/menu/admin_menu' %>
          <% end %>
        </ul>
        <ul class="nav navbar-nav pull-right">
          <%= render 'common/menu/user_menu' %>
        </ul>
      </div>
    </nav>

    <!-- Actual content -->
    <div class="container">

        <div class="row">
            <div class="col-lg-12">
              <%= render 'common/flash_msgs' %>
            </div>
        </div>

        <div class="row vertical-align">
            <div class="col-lg-8">
              <%= yield :back_link %>
              <%= yield :page_title %>
            </div>
            <div class="col-lg-4">
                <div class="pull-right">
                    <%= yield :actions %>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-12"><%= yield %></div>
        </div>

    </div>

</body>
</html>
